body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:304px;
  top:-100px;
  width:200px;
  height:40px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:180px;
  top:10px;
  width:420px;
  height:23px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:23px;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:180px;
  top:33px;
  width:420px;
  height:64px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:64px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:369px;
  top:57px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:536px;
  top:46px;
  width:47px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:46px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:180px;
  top:95px;
  width:420px;
  height:655px;
  overflow:hidden;
  touch-action:none;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:655px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:-60px;
  width:420px;
  height:2070px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2070px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:60px;
  width:420px;
  height:1120px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:1120px;
}
#u13 {
  position:absolute;
  left:2px;
  top:552px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
  color:#6B6B6B;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:416px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:60px;
  width:420px;
  height:276px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:276px;
}
#u17 {
  position:absolute;
  left:2px;
  top:130px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:360px;
  width:420px;
  height:410px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:410px;
}
#u19 {
  position:absolute;
  left:2px;
  top:197px;
  width:416px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:304px;
  top:-100px;
  width:200px;
  height:40px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:201px;
  top:51px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
