body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1600px;
  color:#0033FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:1601px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:0px;
  width:1000px;
  height:1600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:1601px;
}
#u3 {
  position:absolute;
  left:2px;
  top:792px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:103px;
  top:5px;
  width:297px;
  height:19px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:617px;
  top:5px;
  width:67px;
  height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:693px;
  top:5px;
  width:67px;
  height:19px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1033px;
  top:5px;
  width:47px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:960px;
  top:5px;
  width:57px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:783px;
  top:5px;
  width:167px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1077px;
  top:7px;
  width:13px;
  height:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:101px;
  top:30px;
  width:302px;
  height:85px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:85px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:1600px;
  width:1201px;
  height:452px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:452px;
}
#u23 {
  position:absolute;
  left:2px;
  top:218px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:115px;
  width:1000px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:400px;
  top:125px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:510px;
  top:125px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:254px;
  top:125px;
  width:10px;
  height:21px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:12px;
  width:20px;
  height:14px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:21px;
}
#u31 {
  position:absolute;
  left:370px;
  top:125px;
  width:10px;
  height:21px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:12px;
  width:20px;
  height:14px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:21px;
}
#u32 {
  position:absolute;
  left:480px;
  top:125px;
  width:10px;
  height:21px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:12px;
  width:20px;
  height:14px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:21px;
}
#u33 {
  position:absolute;
  left:257px;
  top:120px;
  width:123px;
  height:35px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:147px;
  top:125px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:811px;
  top:91px;
  width:260px;
  height:19px;
  color:#515151;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:21px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:103px;
  top:30px;
  width:150px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:289px;
  top:125px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:100px;
  top:166px;
  width:147px;
  height:484px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:485px;
}
#u46 {
  position:absolute;
  left:2px;
  top:234px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:432px;
  width:147px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:132px;
  top:206px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:132px;
  top:253px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:132px;
  top:300px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:132px;
  top:347px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:132px;
  top:394px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:132px;
  top:441px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:132px;
  top:541px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:132px;
  top:588px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:132px;
  top:491px;
  width:76px;
  height:21px;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:270px;
  top:171px;
  width:76px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:270px;
  top:198px;
  width:801px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:792px;
  top:-5px;
  width:14px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:4px;
  width:801px;
  height:2px;
}
#u70 {
  position:absolute;
  left:293px;
  top:229px;
  width:30px;
  height:26px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:333px;
  top:223px;
  width:130px;
  height:38px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:532px;
  top:229px;
  width:30px;
  height:26px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u75 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:572px;
  top:223px;
  width:150px;
  height:38px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:39px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:673px;
  top:242px;
  width:30px;
  height:19px;
  color:#0099FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:835px;
  top:229px;
  width:30px;
  height:26px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:875px;
  top:223px;
  width:150px;
  height:19px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:875px;
  top:242px;
  width:30px;
  height:19px;
  color:#0099FF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:270px;
  top:334px;
  width:140px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:270px;
  top:404px;
  width:810px;
  height:376px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:377px;
}
#u89 {
  position:absolute;
  left:2px;
  top:180px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:270px;
  top:404px;
  width:810px;
  height:33px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:34px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:430px;
  top:411px;
  width:70px;
  height:19px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:732px;
  top:411px;
  width:70px;
  height:19px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:862px;
  top:411px;
  width:70px;
  height:19px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:992px;
  top:411px;
  width:70px;
  height:19px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:270px;
  top:373px;
  width:140px;
  height:21px;
  font-size:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:392px;
  top:375px;
  width:30px;
  height:19px;
  color:#0099FF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:693px;
  top:406px;
  width:10px;
  height:374px;
}
#u104_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u104_end {
  position:absolute;
  left:-5px;
  top:365px;
  width:20px;
  height:14px;
}
#u104_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:374px;
}
#u105 {
  position:absolute;
  left:820px;
  top:406px;
  width:10px;
  height:374px;
}
#u105_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u105_end {
  position:absolute;
  left:-5px;
  top:365px;
  width:20px;
  height:14px;
}
#u105_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:374px;
}
#u106 {
  position:absolute;
  left:945px;
  top:406px;
  width:10px;
  height:374px;
}
#u106_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u106_end {
  position:absolute;
  left:-5px;
  top:365px;
  width:20px;
  height:14px;
}
#u106_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:374px;
}
#u107 {
  position:absolute;
  left:280px;
  top:450px;
  width:190px;
  height:19px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:270px;
  top:474px;
  width:810px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u110 {
  position:absolute;
  left:280px;
  top:490px;
  width:190px;
  height:19px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:280px;
  top:531px;
  width:190px;
  height:19px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:270px;
  top:515px;
  width:810px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u115 {
  position:absolute;
  left:270px;
  top:556px;
  width:810px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u116 {
  position:absolute;
  left:270px;
  top:599px;
  width:810px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u117 {
  position:absolute;
  left:270px;
  top:640px;
  width:810px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u118 {
  position:absolute;
  left:270px;
  top:681px;
  width:810px;
  height:10px;
}
#u118_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u118_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u118_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u119 {
  position:absolute;
  left:280px;
  top:573px;
  width:190px;
  height:19px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:280px;
  top:615px;
  width:190px;
  height:19px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:280px;
  top:657px;
  width:190px;
  height:19px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:280px;
  top:699px;
  width:190px;
  height:19px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:280px;
  top:746px;
  width:404px;
  height:19px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:270px;
  top:726px;
  width:810px;
  height:10px;
}
#u129_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u129_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u129_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u130 {
  position:absolute;
  left:270px;
  top:833px;
  width:140px;
  height:21px;
  font-size:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:392px;
  top:835px;
  width:30px;
  height:19px;
  color:#0099FF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:270px;
  top:870px;
  width:810px;
  height:290px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:291px;
}
#u135 {
  position:absolute;
  left:2px;
  top:137px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:270px;
  top:870px;
  width:810px;
  height:33px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:34px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:430px;
  top:877px;
  width:70px;
  height:19px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:732px;
  top:877px;
  width:70px;
  height:19px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:862px;
  top:877px;
  width:70px;
  height:19px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:992px;
  top:877px;
  width:70px;
  height:19px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:693px;
  top:872px;
  width:10px;
  height:288px;
}
#u146_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u146_end {
  position:absolute;
  left:-5px;
  top:279px;
  width:20px;
  height:14px;
}
#u146_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:288px;
}
#u147 {
  position:absolute;
  left:820px;
  top:872px;
  width:10px;
  height:288px;
}
#u147_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:279px;
  width:20px;
  height:14px;
}
#u147_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:288px;
}
#u148 {
  position:absolute;
  left:945px;
  top:872px;
  width:10px;
  height:288px;
}
#u148_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u148_end {
  position:absolute;
  left:-5px;
  top:279px;
  width:20px;
  height:14px;
}
#u148_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:288px;
}
#u149 {
  position:absolute;
  left:280px;
  top:916px;
  width:190px;
  height:19px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:270px;
  top:940px;
  width:810px;
  height:10px;
}
#u151_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u151_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u151_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u152 {
  position:absolute;
  left:280px;
  top:956px;
  width:190px;
  height:19px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:280px;
  top:997px;
  width:190px;
  height:19px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:270px;
  top:981px;
  width:810px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u157 {
  position:absolute;
  left:270px;
  top:1022px;
  width:810px;
  height:10px;
}
#u157_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u157_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u157_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u158 {
  position:absolute;
  left:270px;
  top:1065px;
  width:810px;
  height:10px;
}
#u158_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u158_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u158_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u159 {
  position:absolute;
  left:270px;
  top:1106px;
  width:810px;
  height:10px;
}
#u159_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u159_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u159_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u160 {
  position:absolute;
  left:280px;
  top:1039px;
  width:230px;
  height:19px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:280px;
  top:1081px;
  width:260px;
  height:19px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:280px;
  top:1123px;
  width:360px;
  height:19px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:20px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:740px;
  top:450px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:740px;
  top:492px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:740px;
  top:531px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:740px;
  top:573px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:740px;
  top:615px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:740px;
  top:656px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:740px;
  top:699px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:740px;
  top:746px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:864px;
  top:656px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:864px;
  top:699px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:864px;
  top:746px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:992px;
  top:656px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:992px;
  top:699px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:992px;
  top:746px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:992px;
  top:531px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:992px;
  top:572px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:992px;
  top:614px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:992px;
  top:448px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:992px;
  top:489px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:740px;
  top:916px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:740px;
  top:956px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:740px;
  top:997px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:740px;
  top:1038px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:740px;
  top:1081px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:740px;
  top:1126px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:992px;
  top:916px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:992px;
  top:956px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:992px;
  top:996px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:992px;
  top:1038px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:992px;
  top:1081px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:992px;
  top:1126px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:270px;
  top:1213px;
  width:140px;
  height:21px;
  font-size:16px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:392px;
  top:1215px;
  width:30px;
  height:19px;
  color:#0099FF;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:270px;
  top:1250px;
  width:810px;
  height:158px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:159px;
}
#u233 {
  position:absolute;
  left:2px;
  top:71px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:270px;
  top:1250px;
  width:810px;
  height:33px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:34px;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:430px;
  top:1257px;
  width:70px;
  height:19px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:732px;
  top:1257px;
  width:70px;
  height:19px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:862px;
  top:1257px;
  width:70px;
  height:19px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:992px;
  top:1257px;
  width:70px;
  height:19px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:693px;
  top:1252px;
  width:10px;
  height:156px;
}
#u244_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u244_end {
  position:absolute;
  left:-5px;
  top:147px;
  width:20px;
  height:14px;
}
#u244_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:156px;
}
#u245 {
  position:absolute;
  left:820px;
  top:1252px;
  width:10px;
  height:156px;
}
#u245_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u245_end {
  position:absolute;
  left:-5px;
  top:147px;
  width:20px;
  height:14px;
}
#u245_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:156px;
}
#u246 {
  position:absolute;
  left:945px;
  top:1252px;
  width:10px;
  height:156px;
}
#u246_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u246_end {
  position:absolute;
  left:-5px;
  top:147px;
  width:20px;
  height:14px;
}
#u246_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:156px;
}
#u247 {
  position:absolute;
  left:280px;
  top:1296px;
  width:190px;
  height:19px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:270px;
  top:1320px;
  width:810px;
  height:10px;
}
#u249_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u249_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u249_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u250 {
  position:absolute;
  left:280px;
  top:1336px;
  width:190px;
  height:19px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:20px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:270px;
  top:1361px;
  width:810px;
  height:10px;
}
#u252_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u252_end {
  position:absolute;
  left:801px;
  top:-5px;
  width:14px;
  height:20px;
}
#u252_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u253 {
  position:absolute;
  left:992px;
  top:1296px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:870px;
  top:1336px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:870px;
  top:1294px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#515151;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:992px;
  top:1336px;
  width:40px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
