body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:373px;
  top:415px;
  visibility:hidden;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:166px;
  top:106px;
  width:145px;
  height:43px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u2 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:53px;
  width:145px;
  height:43px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:106px;
  width:145px;
  height:43px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:164px;
  top:53px;
  width:145px;
  height:43px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:166px;
  top:0px;
  width:145px;
  height:43px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:334px;
  top:108px;
  width:145px;
  height:43px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:319px;
  top:55px;
  width:145px;
  height:43px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:323px;
  top:0px;
  width:145px;
  height:43px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
}
#u16 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:14px;
  width:19px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:19px;
  top:0px;
  width:100px;
  height:43px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u20 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:67px;
  width:19px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:0px;
  top:120px;
  width:19px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:166px;
  top:14px;
  width:19px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:166px;
  top:67px;
  width:19px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:166px;
  top:120px;
  width:19px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:327px;
  top:14px;
  width:19px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:327px;
  top:67px;
  width:19px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:327px;
  top:120px;
  width:19px;
  height:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:fixed;
  left:-220px;
  top:0px;
  width:336px;
  height:642px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:642px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:682px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:682px;
}
#u39 {
  position:absolute;
  left:2px;
  top:333px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  height:227px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:227px;
}
#u41 {
  position:absolute;
  left:2px;
  top:106px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:2px;
  top:229px;
  width:336px;
  height:227px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:227px;
}
#u43 {
  position:absolute;
  left:2px;
  top:106px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:2px;
  top:457px;
  width:336px;
  height:227px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:227px;
}
#u45 {
  position:absolute;
  left:2px;
  top:106px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:227px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:227px;
}
#u47 {
  position:absolute;
  left:2px;
  top:106px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:229px;
  width:101px;
  height:453px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:453px;
}
#u49 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:239px;
  top:455px;
  width:101px;
  height:228px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:228px;
}
#u51 {
  position:absolute;
  left:2px;
  top:106px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:239px;
  top:2px;
  width:101px;
  height:453px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:453px;
}
#u53 {
  position:absolute;
  left:2px;
  top:218px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:4px;
  top:4px;
  width:76px;
  height:96px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:96px;
}
#u55 {
  position:absolute;
  left:2px;
  top:40px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:140px;
  top:101px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:297px;
  top:188px;
  width:21px;
  height:81px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:81px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:140px;
  top:329px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:19px;
  top:415px;
  width:21px;
  height:81px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:81px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:140px;
  top:556px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:305px;
  top:566px;
  width:21px;
  height:54px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:54px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:277px;
  top:19px;
  width:41px;
  height:41px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:277px;
  top:19px;
  width:41px;
  height:41px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:160px;
  top:20px;
  width:310px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u73 {
  position:absolute;
  left:660px;
  top:20px;
  width:310px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u74 {
  position:absolute;
  left:484px;
  top:13px;
  width:145px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#036EB7;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:166px;
  top:88px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:440px;
  top:88px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:707px;
  top:88px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:244px;
  top:81px;
  width:149px;
  height:34px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u83 {
  position:absolute;
  left:2px;
  top:9px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:510px;
  top:81px;
  width:149px;
  height:34px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u85 {
  position:absolute;
  left:2px;
  top:9px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:777px;
  top:81px;
  width:149px;
  height:34px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
}
#u87 {
  position:absolute;
  left:2px;
  top:9px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:166px;
  top:150px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:244px;
  top:150px;
  width:682px;
  height:70px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:70px;
}
#u91 {
  position:absolute;
  left:2px;
  top:27px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:166px;
  top:254px;
  width:159px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:410px;
  top:254px;
  width:141px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:166px;
  top:314px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:244px;
  top:369px;
  width:19px;
  height:16px;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:273px;
  top:367px;
  width:67px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:440px;
  top:369px;
  width:79px;
  height:15px;
  font-size:12px;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:786px;
  top:369px;
  width:115px;
  height:15px;
  font-size:12px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u104_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u106 {
  position:absolute;
  left:603px;
  top:369px;
  width:115px;
  height:15px;
  font-size:12px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:601px;
  top:394px;
  visibility:hidden;
}
#u108_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:75px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:75px;
}
#u110 {
  position:absolute;
  left:2px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:64px;
  top:48px;
  width:26px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:482px;
  top:426px;
  width:120px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#036EB7;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:522px;
  top:497px;
  width:42px;
  height:53px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:53px;
}
#u115 {
  position:absolute;
  left:2px;
  top:18px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:160px;
  top:518px;
  width:346px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:329px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:346px;
  height:1px;
}
#u117 {
  position:absolute;
  left:580px;
  top:518px;
  width:346px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:329px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:346px;
  height:1px;
}
#u118 {
  position:absolute;
  left:518px;
  top:570px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:352px;
  top:594px;
  width:379px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:255px;
  top:89px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:518px;
  top:89px;
  width:78px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:790px;
  top:89px;
  width:95px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:255px;
  top:155px;
  width:263px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:20px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
