body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:46px;
  width:200px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:150px;
  top:560px;
  width:1051px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:1034px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1051px;
  height:3px;
}
#u3_ann {
  position:absolute;
  left:1194px;
  top:556px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:150px;
  top:599px;
  width:1051px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1034px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1051px;
  height:1px;
}
#u5 {
  position:absolute;
  left:264px;
  top:616px;
  width:815px;
  height:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:12px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:389px;
  top:643px;
  width:104px;
  height:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:504px;
  top:643px;
  width:90px;
  height:34px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:606px;
  top:643px;
  width:98px;
  height:34px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:717px;
  top:643px;
  width:95px;
  height:34px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:826px;
  top:643px;
  width:128px;
  height:34px;
  font-size:12px;
  line-height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:489px;
  top:571px;
  width:75px;
  height:25px;
  text-align:center;
  line-height:25px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:563px;
  top:571px;
  width:75px;
  height:25px;
  text-align:center;
  line-height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:639px;
  top:571px;
  width:69px;
  height:25px;
  text-align:center;
  line-height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:713px;
  top:571px;
  width:69px;
  height:25px;
  text-align:center;
  line-height:25px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:785px;
  top:571px;
  width:69px;
  height:25px;
  text-align:center;
  line-height:25px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:571px;
  top:678px;
  width:200px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:150px;
  top:122px;
  width:1050px;
  height:418px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:418px;
}
#u30 {
  position:absolute;
  left:2px;
  top:201px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:150px;
  top:122px;
  width:1050px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:50px;
}
#u32 {
  position:absolute;
  left:20px;
  top:14px;
  width:1028px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:768px;
  top:218px;
  width:250px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:540px;
  top:218px;
  width:250px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:311px;
  top:218px;
  width:250px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:487px;
  top:294px;
  width:57px;
  height:22px;
  font-size:14px;
  line-height:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:554px;
  top:290px;
  width:200px;
  height:32px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background-color:#CCCCCC;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u41_input {
  font-family:'微软雅黑';
}
#u42 {
  position:absolute;
  left:487px;
  top:352px;
  width:57px;
  height:22px;
  font-size:14px;
  line-height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:554px;
  top:348px;
  width:200px;
  height:32px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u44_input {
  font-family:'微软雅黑';
}
#u45 {
  position:absolute;
  left:554px;
  top:465px;
  width:200px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:761px;
  top:349px;
  width:21px;
  height:27px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:470px;
  top:409px;
  width:71px;
  height:22px;
  font-size:14px;
  line-height:22px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:554px;
  top:405px;
  width:200px;
  height:32px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background-color:transparent;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u51_input {
  font-family:'微软雅黑';
}
#u52 {
  position:absolute;
  left:761px;
  top:405px;
  width:21px;
  height:27px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:767px;
  top:354px;
  width:135px;
  height:12px;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:12px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_ann {
  position:absolute;
  left:1393px;
  top:-4px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:152px;
  top:5px;
  width:37px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:199px;
  top:5px;
  width:42px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u61_img.mouseDown {
}
#u61.mouseDown {
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:943px;
  top:5px;
  width:139px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:790px;
  top:5px;
  width:50px;
  height:20px;
  text-align:center;
  line-height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:616px;
  top:6px;
  width:60px;
  height:20px;
  text-align:center;
  line-height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u67_img.mouseDown {
}
#u67.mouseDown {
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:706px;
  top:5px;
  width:49px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:757px;
  top:14px;
  width:8px;
  height:4px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:695px;
  top:28px;
  visibility:hidden;
}
#u73_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u73_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  font-size:12px;
  line-height:22px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:25px;
  width:76px;
  height:26px;
  font-size:12px;
  line-height:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:50px;
  width:76px;
  height:26px;
  font-size:12px;
  line-height:22px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1090px;
  top:4px;
  width:110px;
  height:22px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
}
#u80_input {
  font-family:'微软雅黑';
}
#u80_input:disabled {
  color:grayText;
}
#u81 {
  position:absolute;
  left:250px;
  top:5px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u81_img.mouseDown {
}
#u81.mouseDown {
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:275px;
  top:35px;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:850px;
  top:2px;
  width:70px;
  height:25px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
