body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4123px;
  height:3335px;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:4123px;
  height:3335px;
}
#u358 {
  position:absolute;
  left:2px;
  top:1660px;
  width:4119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:87px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u359 {
  position:absolute;
  left:44px;
  top:15px;
  width:188px;
  height:87px;
}
#u360 {
  position:absolute;
  left:2px;
  top:36px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:87px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u361 {
  position:absolute;
  left:3343px;
  top:15px;
  width:188px;
  height:87px;
}
#u362 {
  position:absolute;
  left:2px;
  top:36px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
