body {
  margin:0px;
  background-color:rgba(38, 38, 38, 1);
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
}
#u1 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:416px;
  top:270px;
  width:204px;
  height:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:416px;
  top:204px;
  width:154px;
  height:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:100px;
  width:286px;
  height:35px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:462px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:462px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:784px;
  overflow:hidden;
  touch-action:none;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:784px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u15 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u13_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u13_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u19 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u13_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u21 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u13_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u23 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u13_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u25 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:78px;
  top:110px;
  width:120px;
  height:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-1px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:94px;
  top:112px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:110px;
  top:112px;
  width:10px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u30_img.selected {
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:126px;
  top:112px;
  width:10px;
  height:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:140px;
  top:112px;
  width:10px;
  height:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u34_img.selected {
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:156px;
  top:112px;
  width:10px;
  height:10px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u36_img.selected {
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:172px;
  top:112px;
  width:10px;
  height:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u38_img.selected {
}
#u38.selected {
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:-4px;
  top:135px;
  width:296px;
  height:290px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:290px;
}
#u41 {
  position:absolute;
  left:2px;
  top:137px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:-7px;
  top:423px;
  width:300px;
  height:371px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:371px;
}
#u43 {
  position:absolute;
  left:2px;
  top:178px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:-33px;
  width:286px;
  height:33px;
  overflow:hidden;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:69px;
  top:5px;
  width:24px;
  height:25px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:103px;
  top:10px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:96px;
  top:552px;
  width:296px;
  height:43px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:43px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:93px;
  top:78px;
  width:299px;
  height:55px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:55px;
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:198px;
  top:100px;
  width:90px;
  height:33px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:416px;
  top:295px;
  width:134px;
  height:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:416px;
  top:311px;
  width:180px;
  height:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:416px;
  top:327px;
  width:304px;
  height:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:416px;
  top:343px;
  width:154px;
  height:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:416px;
  top:414px;
  width:114px;
  height:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:17px;
  top:108px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:430px;
  top:108px;
  width:130px;
  height:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:430px;
  top:34px;
  width:320px;
  height:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:470px;
  top:54px;
  width:270px;
  height:16px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:470px;
  top:75px;
  width:270px;
  height:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
