body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1180px;
  top:772px;
  width:250px;
  height:194px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:194px;
}
#u1 {
  position:absolute;
  left:2px;
  top:89px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:112px;
  width:205px;
  height:16px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:66px;
  width:70px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:92px;
  width:1080px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1px;
}
#u7 {
  position:absolute;
  left:40px;
  top:980px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:1006px;
  width:1080px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1px;
}
#u10 {
  position:absolute;
  left:40px;
  top:1031px;
  width:1073px;
  height:145px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:170px;
  top:0px;
  width:595px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:765px;
  top:0px;
  width:126px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:891px;
  top:0px;
  width:177px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:20px;
  width:170px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:170px;
  top:20px;
  width:595px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:765px;
  top:20px;
  width:126px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:891px;
  top:20px;
  width:177px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:40px;
  width:170px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:170px;
  top:40px;
  width:595px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:765px;
  top:40px;
  width:126px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:891px;
  top:40px;
  width:177px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:60px;
  width:170px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:170px;
  top:60px;
  width:595px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:765px;
  top:60px;
  width:126px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:891px;
  top:60px;
  width:177px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:80px;
  width:170px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:170px;
  top:80px;
  width:595px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:765px;
  top:80px;
  width:126px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:891px;
  top:80px;
  width:177px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:100px;
  width:170px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:170px;
  top:100px;
  width:595px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:765px;
  top:100px;
  width:126px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:891px;
  top:100px;
  width:177px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:120px;
  width:170px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:170px;
  top:120px;
  width:595px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:591px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:765px;
  top:120px;
  width:126px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:891px;
  top:120px;
  width:177px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:173px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:10px;
  top:20px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1095px;
  top:14px;
  width:35px;
  height:32px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:50px;
  top:144px;
  width:205px;
  height:16px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:50px;
  top:209px;
  width:441px;
  height:16px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:50px;
  top:239px;
  width:66px;
  height:16px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:50px;
  top:178px;
  width:92px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:50px;
  top:270px;
  width:144px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:50px;
  top:304px;
  width:80px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:118px;
  top:304px;
  width:261px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:118px;
  top:340px;
  width:82px;
  height:80px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:78px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:230px;
  top:340px;
  width:82px;
  height:80px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
}
#u88 {
  position:absolute;
  left:2px;
  top:24px;
  width:78px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:348px;
  top:340px;
  width:82px;
  height:80px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
}
#u90 {
  position:absolute;
  left:2px;
  top:24px;
  width:78px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:468px;
  top:340px;
  width:82px;
  height:80px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
}
#u92 {
  position:absolute;
  left:2px;
  top:24px;
  width:78px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:114px;
  top:442px;
  width:126px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:50px;
  top:484px;
  width:92px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:152px;
  top:484px;
  width:108px;
  height:22px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u97_input {
  font-family:'应用字体';
}
#u97_input:disabled {
  color:grayText;
}
#u98 {
  position:absolute;
  left:126px;
  top:235px;
  width:64px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u98_input {
  font-family:'应用字体';
}
#u99 {
  position:absolute;
  left:50px;
  top:527px;
  width:92px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:152px;
  top:527px;
  width:147px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:50px;
  top:616px;
  width:92px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:152px;
  top:616px;
  width:147px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:50px;
  top:590px;
  width:92px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:152px;
  top:590px;
  width:40px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:50px;
  top:650px;
  width:92px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:152px;
  top:650px;
  width:78px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:50px;
  top:557px;
  width:118px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:190px;
  top:557px;
  width:53px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:253px;
  top:553px;
  width:70px;
  height:25px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119_input {
  font-family:'应用字体';
}
#u120 {
  position:absolute;
  left:352px;
  top:557px;
  width:53px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:415px;
  top:553px;
  width:139px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122_input {
  font-family:'应用字体';
}
#u123 {
  position:absolute;
  left:530px;
  top:112px;
  width:177px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:40px;
  top:688px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:40px;
  top:714px;
  width:1080px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1px;
}
#u128 {
  position:absolute;
  left:110px;
  top:66px;
  width:70px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:40px;
  top:744px;
  width:118px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:40px;
  top:780px;
  width:100px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u132_input {
  font-family:'应用字体';
}
#u133 {
  position:absolute;
  left:40px;
  top:830px;
  width:450px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:40px;
  top:856px;
  width:463px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:280px;
  top:744px;
  width:110px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:384px;
  top:741px;
  width:200px;
  height:22px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u139_input {
  font-family:'应用字体';
}
#u139_input:disabled {
  color:grayText;
}
#u140 {
  position:absolute;
  left:1200px;
  top:814px;
  width:200px;
  height:100px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u140_input {
  font-family:'应用字体';
}
#u141 {
  position:absolute;
  left:1200px;
  top:780px;
  width:79px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:1200px;
  top:930px;
  width:100px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u143_input {
  font-family:'应用字体';
}
#u144 {
  position:absolute;
  left:1320px;
  top:930px;
  width:80px;
  height:25px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u144_input {
  font-family:'应用字体';
}
#u145 {
  position:absolute;
  left:40px;
  top:882px;
  width:450px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:40px;
  top:908px;
  width:463px;
  height:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:40px;
  top:934px;
  width:463px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:40px;
  top:1204px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:40px;
  top:1230px;
  width:1080px;
  height:10px;
}
#u153_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u153_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1px;
}
#u154 {
  position:absolute;
  left:40px;
  top:1250px;
  width:150px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:40px;
  top:1296px;
  width:1080px;
  height:10px;
}
#u156_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_end {
  position:absolute;
  left:1063px;
  top:-5px;
  width:18px;
  height:20px;
}
#u156_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1080px;
  height:1px;
}
#u157 {
  position:absolute;
  left:50px;
  top:1280px;
  width:1048px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:50px;
  top:1306px;
  width:1080px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:40px;
  top:1340px;
  width:154px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:190px;
  top:1445px;
  width:100px;
  height:25px;
}
#u163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u163_input {
  font-family:'应用字体';
}
#u164 {
  position:absolute;
  left:395px;
  top:1445px;
  width:100px;
  height:25px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u164_input {
  font-family:'应用字体';
}
#u165 {
  position:absolute;
  left:40px;
  top:1376px;
  width:180px;
  height:16px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:390px;
  top:1645px;
  width:100px;
  height:25px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u167_input {
  font-family:'应用字体';
}
#u168 {
  position:absolute;
  left:40px;
  top:1549px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:40px;
  top:1575px;
  width:70px;
  height:16px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:200px;
  top:1575px;
  width:100px;
  height:16px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:640px;
  top:1575px;
  width:76px;
  height:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:522px;
  top:1575px;
  width:48px;
  height:16px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:360px;
  top:1575px;
  width:100px;
  height:16px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:830px;
  top:1575px;
  width:76px;
  height:16px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:940px;
  top:1575px;
  width:150px;
  height:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1010px;
  top:1601px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:48px;
  top:1599px;
  width:952px;
  height:26px;
  overflow:hidden;
}
#u186_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187 {
  position:absolute;
  left:0px;
  top:5px;
  width:72px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:162px;
  top:5px;
  width:46px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:316px;
  top:5px;
  width:46px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:474px;
  top:5px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:802px;
  top:5px;
  width:20px;
  height:16px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:592px;
  top:5px;
  width:80px;
  height:16px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:892px;
  top:5px;
  width:30px;
  height:16px;
  color:#0000FF;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u186_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u186_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u201 {
  position:absolute;
  left:882px;
  top:5px;
  width:30px;
  height:16px;
  color:#0000FF;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:922px;
  top:5px;
  width:30px;
  height:16px;
  color:#0000FF;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u205_input {
  font-family:'应用字体';
}
#u206 {
  position:absolute;
  left:160px;
  top:0px;
  width:80px;
  height:25px;
}
#u206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u206_input {
  font-family:'应用字体';
}
#u207 {
  position:absolute;
  left:310px;
  top:0px;
  width:80px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u207_input {
  font-family:'应用字体';
}
#u208 {
  position:absolute;
  left:470px;
  top:0px;
  width:80px;
  height:25px;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u208_input {
  font-family:'应用字体';
}
#u209 {
  position:absolute;
  left:592px;
  top:0px;
  width:88px;
  height:25px;
}
#u209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u209_input {
  font-family:'应用字体';
}
#u210 {
  position:absolute;
  left:780px;
  top:0px;
  width:80px;
  height:25px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u210_input {
  font-family:'应用字体';
}
#u211 {
  position:absolute;
  left:40px;
  top:1405px;
  width:619px;
  height:125px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u213 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:147px;
  top:0px;
  width:174px;
  height:30px;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u215 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:321px;
  top:0px;
  width:147px;
  height:30px;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u217 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:468px;
  top:0px;
  width:146px;
  height:30px;
  text-align:center;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u219 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:0px;
  top:30px;
  width:147px;
  height:30px;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u221 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:147px;
  top:30px;
  width:174px;
  height:30px;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u223 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:321px;
  top:30px;
  width:147px;
  height:30px;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u225 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:468px;
  top:30px;
  width:146px;
  height:30px;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u227 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:0px;
  top:60px;
  width:147px;
  height:30px;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u229 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:147px;
  top:60px;
  width:174px;
  height:30px;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u231 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:321px;
  top:60px;
  width:147px;
  height:30px;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u233 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:468px;
  top:60px;
  width:146px;
  height:30px;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u235 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:90px;
  width:147px;
  height:30px;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u237 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:147px;
  top:90px;
  width:174px;
  height:30px;
  text-align:center;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u239 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:321px;
  top:90px;
  width:147px;
  height:30px;
  text-align:center;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u241 {
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:468px;
  top:90px;
  width:146px;
  height:30px;
  text-align:center;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u243 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:138px;
  top:1376px;
  width:220px;
  height:16px;
  color:#999999;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u246 {
  position:absolute;
  left:306px;
  top:1725px;
  width:100px;
  height:25px;
}
#u246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u246_input {
  font-family:'应用字体';
}
#u247 {
  position:absolute;
  left:450px;
  top:1725px;
  width:100px;
  height:25px;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u247_input {
  font-family:'应用字体';
}
#u248 {
  position:absolute;
  left:1180px;
  top:1549px;
  width:320px;
  height:157px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:157px;
}
#u249 {
  position:absolute;
  left:2px;
  top:70px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:1230px;
  top:1573px;
  width:180px;
  height:24px;
  font-size:20px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:24px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1230px;
  top:1657px;
  width:60px;
  height:25px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u252_input {
  font-family:'应用字体';
}
#u253 {
  position:absolute;
  left:1350px;
  top:1657px;
  width:60px;
  height:25px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u253_input {
  font-family:'应用字体';
}
#u254 {
  position:absolute;
  left:1230px;
  top:1617px;
  width:235px;
  height:16px;
  color:#FF0000;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
