body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:569px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:30px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:21px;
  top:18px;
  width:149px;
  height:14px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:984px;
  top:14px;
  width:79px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:35px;
  top:361px;
  width:913px;
  height:51px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:21px;
  top:8px;
  width:40px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:78px;
  top:15px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:54px;
  top:115px;
  width:917px;
  height:201px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:124px;
  top:0px;
  width:788px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:30px;
  width:124px;
  height:136px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:137px;
}
#u19 {
  position:absolute;
  left:2px;
  top:61px;
  width:120px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:124px;
  top:30px;
  width:788px;
  height:136px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:137px;
}
#u21 {
  position:absolute;
  left:2px;
  top:60px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:166px;
  width:124px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:124px;
  top:166px;
  width:788px;
  height:30px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:281px;
  top:317px;
  width:120px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_input {
  font-family:'应用字体';
}
#u27 {
  position:absolute;
  left:421px;
  top:319px;
  width:40px;
  height:19px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:179px;
  top:147px;
  width:787px;
  height:131px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:131px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_input {
  font-family:'应用字体';
}
#u30 {
  position:absolute;
  left:179px;
  top:119px;
  width:720px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:185px;
  top:320px;
  width:100px;
  height:14px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:54px;
  top:428px;
  width:58px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33_input {
  font-family:'应用字体';
}
#u34 {
  position:absolute;
  left:141px;
  top:428px;
  width:58px;
  height:22px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34_input {
  font-family:'应用字体';
}
#u35 {
  position:absolute;
  left:227px;
  top:428px;
  width:58px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35_input {
  font-family:'应用字体';
}
#u36 {
  position:absolute;
  left:314px;
  top:428px;
  width:58px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36_input {
  font-family:'应用字体';
}
#u37 {
  position:absolute;
  left:54px;
  top:156px;
  width:754px;
  height:240px;
  overflow:hidden;
  visibility:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:11px;
  top:10px;
  width:699px;
  height:135px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:136px;
}
#u39 {
  position:absolute;
  left:2px;
  top:60px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:697px;
  top:7px;
  width:150px;
  height:24px;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:75px;
  top:63px;
  width:411px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:29px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:54px;
  top:86px;
  width:272px;
  height:14px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF9966;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:919px;
  top:122px;
  width:150px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
