body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:300px;
  top:133px;
  width:320px;
  height:568px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:304px;
  top:133px;
  width:308px;
  height:13px;
  color:#0000FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:301px;
  top:146px;
  width:319px;
  height:46px;
  color:#0000FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:46px;
}
#u6 {
  position:absolute;
  left:2px;
  top:15px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:304px;
  top:153px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:358px;
  top:158px;
  width:200px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:320px;
  top:212px;
  width:277px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:41px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
