body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:41px;
  top:51px;
  width:651px;
  height:542px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:543px;
}
#u1 {
  position:absolute;
  left:2px;
  top:263px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:41px;
  top:51px;
  width:651px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:47px;
  top:58px;
  width:150px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:47px;
  top:91px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:47px;
  top:123px;
  width:643px;
  height:193px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:111px;
  top:0px;
  width:204px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:315px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:415px;
  top:0px;
  width:223px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:20px;
  width:111px;
  height:20px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:111px;
  top:20px;
  width:204px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:315px;
  top:20px;
  width:100px;
  height:20px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:415px;
  top:20px;
  width:223px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:40px;
  width:111px;
  height:127px;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:128px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:111px;
  top:40px;
  width:204px;
  height:127px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:128px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:315px;
  top:40px;
  width:100px;
  height:127px;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:128px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:415px;
  top:40px;
  width:223px;
  height:127px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:128px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:167px;
  width:111px;
  height:21px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:111px;
  top:167px;
  width:204px;
  height:21px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:315px;
  top:167px;
  width:100px;
  height:21px;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:415px;
  top:167px;
  width:223px;
  height:21px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:47px;
  top:335px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:47px;
  top:361px;
  width:643px;
  height:81px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:113px;
  top:0px;
  width:203px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:316px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:416px;
  top:0px;
  width:222px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:20px;
  width:113px;
  height:36px;
  text-align:right;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:113px;
  top:20px;
  width:203px;
  height:36px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:316px;
  top:20px;
  width:100px;
  height:36px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:416px;
  top:20px;
  width:222px;
  height:36px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:56px;
  width:113px;
  height:20px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:113px;
  top:56px;
  width:203px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:316px;
  top:56px;
  width:100px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:416px;
  top:56px;
  width:222px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:47px;
  top:464px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:96px;
  top:496px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:96px;
  top:531px;
  width:150px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:144px;
  top:531px;
  width:88px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:246px;
  top:531px;
  width:164px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:410px;
  top:531px;
  width:164px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:510px;
  top:531px;
  width:87px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:604px;
  top:56px;
  width:81px;
  height:21px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:725px;
  top:51px;
  width:651px;
  height:542px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:543px;
}
#u85 {
  position:absolute;
  left:2px;
  top:263px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:725px;
  top:51px;
  width:651px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:31px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:731px;
  top:58px;
  width:150px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:731px;
  top:91px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:731px;
  top:123px;
  width:643px;
  height:193px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  text-align:right;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:111px;
  top:0px;
  width:204px;
  height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:315px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:415px;
  top:0px;
  width:223px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:20px;
  width:111px;
  height:20px;
  text-align:right;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:111px;
  top:20px;
  width:204px;
  height:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:315px;
  top:20px;
  width:100px;
  height:20px;
  text-align:right;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:415px;
  top:20px;
  width:223px;
  height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:40px;
  width:111px;
  height:127px;
  text-align:right;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:128px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:111px;
  top:40px;
  width:204px;
  height:127px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:128px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:315px;
  top:40px;
  width:100px;
  height:127px;
  text-align:right;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:128px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:415px;
  top:40px;
  width:223px;
  height:127px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:128px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:167px;
  width:111px;
  height:21px;
  text-align:right;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:111px;
  top:167px;
  width:204px;
  height:21px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:315px;
  top:167px;
  width:100px;
  height:21px;
  text-align:right;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:415px;
  top:167px;
  width:223px;
  height:21px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:731px;
  top:335px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:731px;
  top:361px;
  width:643px;
  height:81px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  text-align:right;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:113px;
  top:0px;
  width:203px;
  height:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:316px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:416px;
  top:0px;
  width:222px;
  height:20px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:20px;
  width:113px;
  height:36px;
  text-align:right;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:113px;
  top:20px;
  width:203px;
  height:36px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:316px;
  top:20px;
  width:100px;
  height:36px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:416px;
  top:20px;
  width:222px;
  height:36px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:0px;
  top:56px;
  width:113px;
  height:20px;
  text-align:right;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:113px;
  top:56px;
  width:203px;
  height:20px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:316px;
  top:56px;
  width:100px;
  height:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:416px;
  top:56px;
  width:222px;
  height:20px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:731px;
  top:464px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:780px;
  top:496px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:780px;
  top:531px;
  width:150px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:828px;
  top:531px;
  width:88px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:930px;
  top:531px;
  width:164px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:1023px;
  top:531px;
  width:87px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1288px;
  top:56px;
  width:81px;
  height:21px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:40px;
  top:614px;
  width:651px;
  height:533px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:534px;
}
#u167 {
  position:absolute;
  left:2px;
  top:258px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:40px;
  top:614px;
  width:651px;
  height:30px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:31px;
}
#u169 {
  position:absolute;
  left:2px;
  top:7px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:46px;
  top:621px;
  width:150px;
  height:16px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:46px;
  top:654px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:46px;
  top:686px;
  width:643px;
  height:193px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  text-align:right;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u176 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:111px;
  top:0px;
  width:204px;
  height:20px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u178 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:315px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:415px;
  top:0px;
  width:223px;
  height:20px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:0px;
  top:20px;
  width:111px;
  height:20px;
  text-align:right;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u184 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:111px;
  top:20px;
  width:204px;
  height:20px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u186 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:315px;
  top:20px;
  width:100px;
  height:20px;
  text-align:right;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u188 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:415px;
  top:20px;
  width:223px;
  height:20px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:0px;
  top:40px;
  width:111px;
  height:127px;
  text-align:right;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:128px;
}
#u192 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:111px;
  top:40px;
  width:204px;
  height:127px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:128px;
}
#u194 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:315px;
  top:40px;
  width:100px;
  height:127px;
  text-align:right;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:128px;
}
#u196 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:415px;
  top:40px;
  width:223px;
  height:127px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:128px;
}
#u198 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:0px;
  top:167px;
  width:111px;
  height:21px;
  text-align:right;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:111px;
  top:167px;
  width:204px;
  height:21px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
}
#u202 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:315px;
  top:167px;
  width:100px;
  height:21px;
  text-align:right;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:415px;
  top:167px;
  width:223px;
  height:21px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:46px;
  top:898px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:46px;
  top:924px;
  width:643px;
  height:81px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  text-align:right;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:113px;
  top:0px;
  width:203px;
  height:20px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u213 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:316px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:416px;
  top:0px;
  width:222px;
  height:20px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u217 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:0px;
  top:20px;
  width:113px;
  height:36px;
  text-align:right;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:113px;
  top:20px;
  width:203px;
  height:36px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:316px;
  top:20px;
  width:100px;
  height:36px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:416px;
  top:20px;
  width:222px;
  height:36px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:0px;
  top:56px;
  width:113px;
  height:20px;
  text-align:right;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:113px;
  top:56px;
  width:203px;
  height:20px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:316px;
  top:56px;
  width:100px;
  height:20px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u231 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:416px;
  top:56px;
  width:222px;
  height:20px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u233 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:46px;
  top:1027px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:96px;
  top:1059px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:96px;
  top:1094px;
  width:150px;
  height:16px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:144px;
  top:1094px;
  width:88px;
  height:16px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:604px;
  top:619px;
  width:81px;
  height:21px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u243 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:725px;
  top:614px;
  width:651px;
  height:533px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:534px;
}
#u245 {
  position:absolute;
  left:2px;
  top:258px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:725px;
  top:614px;
  width:651px;
  height:30px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:652px;
  height:31px;
}
#u247 {
  position:absolute;
  left:2px;
  top:7px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:731px;
  top:621px;
  width:150px;
  height:16px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:731px;
  top:654px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:731px;
  top:686px;
  width:643px;
  height:193px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  text-align:right;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u254 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:111px;
  top:0px;
  width:204px;
  height:20px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u256 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:315px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u258 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:415px;
  top:0px;
  width:223px;
  height:20px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u260 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:0px;
  top:20px;
  width:111px;
  height:20px;
  text-align:right;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:111px;
  top:20px;
  width:204px;
  height:20px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:21px;
}
#u264 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:315px;
  top:20px;
  width:100px;
  height:20px;
  text-align:right;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u266 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:415px;
  top:20px;
  width:223px;
  height:20px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u268 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:40px;
  width:111px;
  height:127px;
  text-align:right;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:128px;
}
#u270 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:111px;
  top:40px;
  width:204px;
  height:127px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:128px;
}
#u272 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:315px;
  top:40px;
  width:100px;
  height:127px;
  text-align:right;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:128px;
}
#u274 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:415px;
  top:40px;
  width:223px;
  height:127px;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:128px;
}
#u276 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:0px;
  top:167px;
  width:111px;
  height:21px;
  text-align:right;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
}
#u278 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u279 {
  position:absolute;
  left:111px;
  top:167px;
  width:204px;
  height:21px;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
}
#u280 {
  position:absolute;
  left:2px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:315px;
  top:167px;
  width:100px;
  height:21px;
  text-align:right;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u282 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u283 {
  position:absolute;
  left:415px;
  top:167px;
  width:223px;
  height:21px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
}
#u284 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u285 {
  position:absolute;
  left:731px;
  top:898px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:731px;
  top:924px;
  width:643px;
  height:81px;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  text-align:right;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u289 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:113px;
  top:0px;
  width:203px;
  height:20px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u291 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:316px;
  top:0px;
  width:100px;
  height:20px;
  text-align:right;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u293 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:416px;
  top:0px;
  width:222px;
  height:20px;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u295 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:0px;
  top:20px;
  width:113px;
  height:36px;
  text-align:right;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u297 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:113px;
  top:20px;
  width:203px;
  height:36px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:37px;
}
#u299 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:316px;
  top:20px;
  width:100px;
  height:36px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u301 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:416px;
  top:20px;
  width:222px;
  height:36px;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u303 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:0px;
  top:56px;
  width:113px;
  height:20px;
  text-align:right;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u305 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:113px;
  top:56px;
  width:203px;
  height:20px;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u307 {
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:316px;
  top:56px;
  width:100px;
  height:20px;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u309 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310 {
  position:absolute;
  left:416px;
  top:56px;
  width:222px;
  height:20px;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:21px;
}
#u311 {
  position:absolute;
  left:2px;
  top:2px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312 {
  position:absolute;
  left:731px;
  top:1027px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u314 {
  position:absolute;
  left:781px;
  top:1059px;
  width:150px;
  height:16px;
  color:#FF0000;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u316 {
  position:absolute;
  left:781px;
  top:1094px;
  width:150px;
  height:16px;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u318 {
  position:absolute;
  left:829px;
  top:1094px;
  width:88px;
  height:16px;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:1289px;
  top:619px;
  width:81px;
  height:21px;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u321 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
