body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:300px;
  top:100px;
  width:320px;
  height:568px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:304px;
  top:100px;
  width:308px;
  height:13px;
  color:#0000FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:301px;
  top:113px;
  width:319px;
  height:46px;
  color:#0000FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:46px;
}
#u6 {
  position:absolute;
  left:2px;
  top:15px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:300px;
  top:160px;
  width:320px;
  height:1378px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:1379px;
}
#u8 {
  position:absolute;
  left:2px;
  top:681px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:304px;
  top:120px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:412px;
  top:125px;
  width:97px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:320px;
  top:206px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:320px;
  top:253px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:328px;
  top:214px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:320px;
  top:179px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:320px;
  top:310px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:320px;
  top:370px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:320px;
  top:417px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:328px;
  top:378px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:320px;
  top:343px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:320px;
  top:475px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:328px;
  top:479px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:328px;
  top:314px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:320px;
  top:537px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:320px;
  top:584px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:328px;
  top:545px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:320px;
  top:510px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:320px;
  top:641px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u45_img.mouseDown {
}
#u45.mouseDown {
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:320px;
  top:701px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:320px;
  top:748px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:328px;
  top:709px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:320px;
  top:674px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:320px;
  top:806px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u55_img.mouseDown {
}
#u55.mouseDown {
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:328px;
  top:810px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:328px;
  top:645px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:320px;
  top:876px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:320px;
  top:923px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:328px;
  top:884px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:320px;
  top:849px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:320px;
  top:980px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u69_img.mouseDown {
}
#u69.mouseDown {
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:320px;
  top:1040px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u72 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:320px;
  top:1087px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:328px;
  top:1048px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:320px;
  top:1013px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:320px;
  top:1145px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u79_img.mouseDown {
}
#u79.mouseDown {
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:328px;
  top:1149px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:328px;
  top:984px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:320px;
  top:1213px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u86 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:320px;
  top:1260px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u88 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:328px;
  top:1221px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:320px;
  top:1186px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:320px;
  top:1317px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u93_img.mouseDown {
}
#u93.mouseDown {
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:320px;
  top:1377px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:320px;
  top:1424px;
  width:279px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:49px;
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:328px;
  top:1385px;
  width:260px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:86px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:320px;
  top:1350px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:320px;
  top:1482px;
  width:279px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
}
#u103_img.mouseDown {
}
#u103.mouseDown {
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:328px;
  top:1486px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:328px;
  top:1321px;
  width:200px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
