body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:238px;
  top:34px;
  width:79px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:238px;
  top:100px;
  width:200px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:238px;
  top:134px;
  width:82px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:238px;
  top:164px;
  width:200px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:238px;
  top:194px;
  width:200px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:238px;
  top:224px;
  width:200px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:238px;
  top:260px;
  width:200px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:238px;
  top:300px;
  width:200px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:238px;
  top:334px;
  width:200px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:238px;
  top:560px;
  width:200px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:238px;
  top:370px;
  width:200px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:91px;
  width:200px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23 {
  position:absolute;
  left:320px;
  top:126px;
  width:200px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24 {
  position:absolute;
  left:320px;
  top:164px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:420px;
  top:164px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:320px;
  top:192px;
  width:200px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:320px;
  top:224px;
  width:110px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:445px;
  top:229px;
  width:5px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:460px;
  top:224px;
  width:110px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:320px;
  top:255px;
  width:200px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u34 {
  position:absolute;
  left:550px;
  top:255px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35 {
  position:absolute;
  left:322px;
  top:296px;
  width:110px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:448px;
  top:300px;
  width:5px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:462px;
  top:296px;
  width:110px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39 {
  position:absolute;
  left:322px;
  top:335px;
  width:110px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u40 {
  position:absolute;
  left:448px;
  top:339px;
  width:5px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:462px;
  top:335px;
  width:110px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:320px;
  top:370px;
  width:252px;
  height:140px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:140px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44 {
  position:absolute;
  left:320px;
  top:520px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:320px;
  top:560px;
  width:252px;
  height:140px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:140px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u47 {
  position:absolute;
  left:396px;
  top:750px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u48 {
  position:absolute;
  left:514px;
  top:750px;
  width:100px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
