body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:26px;
  width:900px;
  height:330px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:330px;
}
#u4 {
  position:absolute;
  left:2px;
  top:157px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:278px;
  top:58px;
  width:66px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:354px;
  top:55px;
  width:56px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7_input {
  font-family:'应用字体';
}
#u7_input:disabled {
  color:grayText;
}
#u8 {
  position:absolute;
  left:427px;
  top:54px;
  width:40px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8_input {
  font-family:'应用字体';
}
