body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:187px;
  width:1666px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1666px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:1662px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1678px;
  height:187px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1678px;
  height:187px;
}
#u3 {
  position:absolute;
  left:2px;
  top:86px;
  width:1674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:794px;
  width:1663px;
  height:829px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:829px;
}
#u5 {
  position:absolute;
  left:2px;
  top:406px;
  width:1659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:747px;
  top:3px;
  width:436px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1182px;
  top:6px;
  width:100px;
  height:22px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:334px;
  top:737px;
  width:231px;
  height:512px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:512px;
}
#u16 {
  position:absolute;
  left:2px;
  top:248px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:338px;
  top:185px;
  width:220px;
  height:551px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:551px;
}
#u18 {
  position:absolute;
  left:2px;
  top:268px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:340px;
  top:187px;
  width:216px;
  height:81px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:81px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:352px;
  top:197px;
  width:36px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:410px;
  top:200px;
  width:60px;
  height:20px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:476px;
  top:200px;
  width:47px;
  height:20px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:406px;
  top:228px;
  width:60px;
  height:20px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:486px;
  top:230px;
  width:70px;
  height:20px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:354px;
  top:236px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#008000;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:340px;
  top:278px;
  width:216px;
  height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:352px;
  top:281px;
  width:36px;
  height:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:398px;
  top:286px;
  width:71px;
  height:20px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:480px;
  top:286px;
  width:67px;
  height:20px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:402px;
  top:314px;
  width:60px;
  height:20px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:486px;
  top:315px;
  width:55px;
  height:20px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:355px;
  top:321px;
  width:46px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#008000;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:408px;
  top:339px;
  width:55px;
  height:20px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:340px;
  top:370px;
  width:216px;
  height:92px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:92px;
}
#u50 {
  position:absolute;
  left:2px;
  top:38px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:352px;
  top:373px;
  width:36px;
  height:36px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:404px;
  top:378px;
  width:71px;
  height:20px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:488px;
  top:378px;
  width:67px;
  height:20px;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:404px;
  top:408px;
  width:79px;
  height:20px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:494px;
  top:408px;
  width:55px;
  height:20px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:356px;
  top:413px;
  width:46px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#008000;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:20px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:490px;
  top:436px;
  width:55px;
  height:20px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:404px;
  top:436px;
  width:78px;
  height:20px;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:340px;
  top:462px;
  width:216px;
  height:36px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:354px;
  top:465px;
  width:36px;
  height:36px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:408px;
  top:466px;
  width:71px;
  height:20px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:488px;
  top:466px;
  width:67px;
  height:20px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:408px;
  top:496px;
  width:65px;
  height:20px;
  text-align:left;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:482px;
  top:496px;
  width:55px;
  height:20px;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:356px;
  top:508px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#008000;
  text-align:left;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:410px;
  top:525px;
  width:78px;
  height:20px;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:340px;
  top:556px;
  width:216px;
  height:71px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:71px;
}
#u84 {
  position:absolute;
  left:2px;
  top:28px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:354px;
  top:559px;
  width:36px;
  height:36px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:408px;
  top:567px;
  width:71px;
  height:20px;
  text-align:left;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:488px;
  top:569px;
  width:67px;
  height:20px;
  text-align:left;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:412px;
  top:597px;
  width:58px;
  height:20px;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:356px;
  top:599px;
  width:54px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#008000;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u93_img.mouseOver {
}
#u93.mouseOver {
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:340px;
  top:627px;
  width:36px;
  height:36px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:354px;
  top:632px;
  width:36px;
  height:36px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:410px;
  top:632px;
  width:66px;
  height:20px;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u99_img.mouseOver {
}
#u99.mouseOver {
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:486px;
  top:632px;
  width:67px;
  height:20px;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u101_img.mouseOver {
}
#u101.mouseOver {
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:411px;
  top:658px;
  width:58px;
  height:20px;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u103_img.mouseOver {
}
#u103.mouseOver {
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:482px;
  top:658px;
  width:71px;
  height:20px;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u105_img.mouseOver {
}
#u105.mouseOver {
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:410px;
  top:684px;
  width:67px;
  height:20px;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:480px;
  top:684px;
  width:58px;
  height:20px;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:408px;
  top:707px;
  width:58px;
  height:20px;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u111_img.mouseOver {
}
#u111.mouseOver {
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:352px;
  top:675px;
  width:48px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#008000;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:463px;
  top:1849px;
  width:787px;
  height:91px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:91px;
}
#u116 {
  position:absolute;
  left:2px;
  top:38px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:565px;
  top:152px;
  width:764px;
  height:34px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:34px;
}
#u118 {
  position:absolute;
  left:2px;
  top:9px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:610px;
  top:161px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:705px;
  top:161px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:833px;
  top:161px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:965px;
  top:161px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1099px;
  top:161px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1231px;
  top:161px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u129_ann {
  position:absolute;
  left:1303px;
  top:157px;
  width:1px;
  height:1px;
}
#u131 {
  position:absolute;
  left:677px;
  top:161px;
  width:10px;
  height:20px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u131_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u132 {
  position:absolute;
  left:789px;
  top:161px;
  width:10px;
  height:20px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u133 {
  position:absolute;
  left:923px;
  top:161px;
  width:10px;
  height:20px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u134 {
  position:absolute;
  left:1055px;
  top:161px;
  width:10px;
  height:20px;
}
#u134_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u134_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u134_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u135 {
  position:absolute;
  left:1197px;
  top:161px;
  width:10px;
  height:20px;
}
#u135_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u135_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u135_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u136 {
  position:absolute;
  left:718px;
  top:3px;
  width:336px;
  height:28px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:28px;
}
#u137 {
  position:absolute;
  left:2px;
  top:6px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1354px;
  top:163px;
  width:276px;
  height:16px;
  color:#FFFF00;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
