body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:88px;
  top:44px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:88px;
  top:93px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:88px;
  top:133px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:88px;
  top:179px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:180px;
  top:89px;
  width:210px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u8_input {
  font-family:'应用字体';
}
#u9 {
  position:absolute;
  left:180px;
  top:124px;
  width:210px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u9_input {
  font-family:'应用字体';
}
#u10 {
  position:absolute;
  left:410px;
  top:124px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10_input {
  font-family:'应用字体';
}
#u11 {
  position:absolute;
  left:180px;
  top:175px;
  width:210px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11_input {
  font-family:'应用字体';
}
#u12 {
  position:absolute;
  left:88px;
  top:235px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:88px;
  top:270px;
  width:92px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14_input {
  font-family:'应用字体';
}
#u15 {
  position:absolute;
  left:88px;
  top:445px;
  width:79px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_input {
  font-family:'应用字体';
}
#u16 {
  position:absolute;
  left:190px;
  top:270px;
  width:92px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16_input {
  font-family:'应用字体';
}
#u17 {
  position:absolute;
  left:190px;
  top:445px;
  width:92px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17_input {
  font-family:'应用字体';
}
#u18 {
  position:absolute;
  left:81px;
  top:555px;
  width:75px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:308px;
  top:270px;
  width:92px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20_input {
  font-family:'应用字体';
}
#u21 {
  position:absolute;
  left:308px;
  top:445px;
  width:92px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21_input {
  font-family:'应用字体';
}
#u22 {
  position:absolute;
  left:422px;
  top:275px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:473px;
  top:275px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:422px;
  top:449px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:473px;
  top:449px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:106px;
  top:495px;
  width:68px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:81px;
  top:502px;
  width:15px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:117px;
  top:595px;
  width:27px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:226px;
  top:595px;
  width:40px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:117px;
  top:625px;
  width:32px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:230px;
  top:625px;
  width:15px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:83px;
  top:625px;
  width:24px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:209px;
  top:495px;
  width:68px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:184px;
  top:502px;
  width:15px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:312px;
  top:495px;
  width:68px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:287px;
  top:502px;
  width:15px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:422px;
  top:495px;
  width:68px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:397px;
  top:502px;
  width:15px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:535px;
  top:495px;
  width:68px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:510px;
  top:502px;
  width:15px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:113px;
  top:315px;
  width:68px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:88px;
  top:322px;
  width:15px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:216px;
  top:315px;
  width:68px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:191px;
  top:322px;
  width:15px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:319px;
  top:315px;
  width:68px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:294px;
  top:322px;
  width:15px;
  height:16px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:429px;
  top:315px;
  width:68px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:404px;
  top:322px;
  width:15px;
  height:16px;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:542px;
  top:315px;
  width:68px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:517px;
  top:322px;
  width:15px;
  height:16px;
}
#u79 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80 {
  position:absolute;
  left:655px;
  top:315px;
  width:68px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:630px;
  top:322px;
  width:15px;
  height:16px;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:765px;
  top:315px;
  width:68px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:740px;
  top:322px;
  width:15px;
  height:16px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88 {
  position:absolute;
  left:878px;
  top:315px;
  width:68px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:853px;
  top:322px;
  width:15px;
  height:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:113px;
  top:365px;
  width:68px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:88px;
  top:372px;
  width:15px;
  height:16px;
}
#u95 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u96 {
  position:absolute;
  left:216px;
  top:365px;
  width:68px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:191px;
  top:372px;
  width:15px;
  height:16px;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:319px;
  top:365px;
  width:68px;
  height:30px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:294px;
  top:372px;
  width:15px;
  height:16px;
}
#u103 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u104 {
  position:absolute;
  left:429px;
  top:365px;
  width:68px;
  height:30px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:404px;
  top:372px;
  width:15px;
  height:16px;
}
#u107 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u108 {
  position:absolute;
  left:542px;
  top:365px;
  width:68px;
  height:30px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:517px;
  top:372px;
  width:15px;
  height:16px;
}
#u111 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u112 {
  position:absolute;
  left:655px;
  top:365px;
  width:68px;
  height:30px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:630px;
  top:372px;
  width:15px;
  height:16px;
}
#u115 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u116 {
  position:absolute;
  left:765px;
  top:365px;
  width:68px;
  height:30px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:740px;
  top:372px;
  width:15px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:878px;
  top:365px;
  width:68px;
  height:30px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:853px;
  top:372px;
  width:15px;
  height:16px;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:319px;
  top:595px;
  width:53px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:170px;
  top:555px;
  width:75px;
  height:16px;
  color:#0000FF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:234px;
  top:555px;
  width:75px;
  height:16px;
  color:#0000FF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:308px;
  top:618px;
  width:43px;
  height:30px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:361px;
  top:621px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:494px;
  top:595px;
  width:45px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:474px;
  top:621px;
  width:79px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u136_input {
  font-family:'应用字体';
}
#u137 {
  position:absolute;
  left:117px;
  top:672px;
  width:32px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:230px;
  top:672px;
  width:10px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:83px;
  top:672px;
  width:24px;
  height:16px;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:308px;
  top:665px;
  width:43px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:361px;
  top:668px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:474px;
  top:668px;
  width:79px;
  height:25px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u147_input {
  font-family:'应用字体';
}
#u148 {
  position:absolute;
  left:117px;
  top:722px;
  width:32px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:230px;
  top:722px;
  width:30px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:83px;
  top:722px;
  width:24px;
  height:16px;
}
#u153 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u154 {
  position:absolute;
  left:308px;
  top:715px;
  width:43px;
  height:30px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:361px;
  top:718px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:474px;
  top:718px;
  width:79px;
  height:25px;
}
#u158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u158_input {
  font-family:'应用字体';
}
#u159 {
  position:absolute;
  left:65px;
  top:775px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:74px;
  top:814px;
  width:71px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:455px;
  top:818px;
  width:71px;
  height:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:150px;
  top:810px;
  width:95px;
  height:25px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u165_input {
  font-family:'应用字体';
}
#u166 {
  position:absolute;
  left:550px;
  top:814px;
  width:95px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u166_input {
  font-family:'应用字体';
}
#u167 {
  position:absolute;
  left:159px;
  top:779px;
  width:81px;
  height:16px;
  color:#999999;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:65px;
  top:875px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:77px;
  top:911px;
  width:71px;
  height:16px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:158px;
  top:907px;
  width:72px;
  height:25px;
}
#u173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u173_input {
  font-family:'应用字体';
}
#u174 {
  position:absolute;
  left:240px;
  top:907px;
  width:69px;
  height:25px;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u174_input {
  font-family:'应用字体';
}
#u175 {
  position:absolute;
  left:356px;
  top:911px;
  width:110px;
  height:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:476px;
  top:907px;
  width:52px;
  height:22px;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u177_input {
  font-family:'应用字体';
}
#u177_input:disabled {
  color:grayText;
}
#u178 {
  position:absolute;
  left:607px;
  top:910px;
  width:84px;
  height:16px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:691px;
  top:907px;
  width:52px;
  height:22px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u180_input {
  font-family:'应用字体';
}
#u180_input:disabled {
  color:grayText;
}
#u181 {
  position:absolute;
  left:77px;
  top:959px;
  width:53px;
  height:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:146px;
  top:955px;
  width:138px;
  height:25px;
}
#u183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u183_input {
  font-family:'应用字体';
}
#u184 {
  position:absolute;
  left:356px;
  top:958px;
  width:40px;
  height:16px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:425px;
  top:954px;
  width:138px;
  height:25px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u186_input {
  font-family:'应用字体';
}
#u187 {
  position:absolute;
  left:790px;
  top:912px;
  width:110px;
  height:16px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:909px;
  top:907px;
  width:52px;
  height:22px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u189_input {
  font-family:'应用字体';
}
#u189_input:disabled {
  color:grayText;
}
#u190 {
  position:absolute;
  left:603px;
  top:954px;
  width:40px;
  height:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:650px;
  top:950px;
  width:93px;
  height:25px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u192_input {
  font-family:'应用字体';
}
#u193 {
  position:absolute;
  left:428px;
  top:1015px;
  width:100px;
  height:25px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u193_input {
  font-family:'应用字体';
}
#u194 {
  position:absolute;
  left:588px;
  top:1015px;
  width:100px;
  height:25px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u194_input {
  font-family:'应用字体';
}
#u195 {
  position:absolute;
  left:853px;
  top:44px;
  width:38px;
  height:36px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u196 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:790px;
  top:949px;
  width:66px;
  height:16px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:878px;
  top:945px;
  width:93px;
  height:25px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u199_input {
  font-family:'应用字体';
}
#u200 {
  position:absolute;
  left:945px;
  top:595px;
  width:40px;
  height:16px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:925px;
  top:621px;
  width:79px;
  height:25px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u202_input {
  font-family:'应用字体';
}
#u203 {
  position:absolute;
  left:925px;
  top:668px;
  width:79px;
  height:25px;
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u203_input {
  font-family:'应用字体';
}
#u204 {
  position:absolute;
  left:925px;
  top:718px;
  width:79px;
  height:25px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u204_input {
  font-family:'应用字体';
}
#u205 {
  position:absolute;
  left:784px;
  top:595px;
  width:53px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:762px;
  top:621px;
  width:110px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u207_input {
  font-family:'应用字体';
}
#u208 {
  position:absolute;
  left:616px;
  top:595px;
  width:66px;
  height:16px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:599px;
  top:621px;
  width:120px;
  height:25px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u210_input {
  font-family:'应用字体';
}
#u211 {
  position:absolute;
  left:762px;
  top:668px;
  width:110px;
  height:25px;
}
#u211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u211_input {
  font-family:'应用字体';
}
#u212 {
  position:absolute;
  left:762px;
  top:718px;
  width:110px;
  height:25px;
}
#u212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u212_input {
  font-family:'应用字体';
}
#u213 {
  position:absolute;
  left:599px;
  top:668px;
  width:120px;
  height:25px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u213_input {
  font-family:'应用字体';
}
#u214 {
  position:absolute;
  left:599px;
  top:718px;
  width:120px;
  height:25px;
}
#u214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u214_input {
  font-family:'应用字体';
}
