body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:131px;
  top:241px;
  width:759px;
  height:339px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:340px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:131px;
  top:453px;
  width:760px;
  height:138px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:138px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:115px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:116px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:37px;
  top:75px;
  width:91px;
  height:30px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5_input {
  font-family:'应用字体';
}
#u6 {
  position:absolute;
  left:166px;
  top:75px;
  width:40px;
  height:19px;
  color:#33CCFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:138px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:30px;
  top:14px;
  width:150px;
  height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:180px;
  top:14px;
  width:110px;
  height:19px;
  color:#99CCFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:138px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:18px;
  top:14px;
  width:450px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1px;
  top:1px;
  width:1099px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:107px;
  top:7px;
  width:297px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:582px;
  top:7px;
  width:67px;
  height:19px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:658px;
  top:7px;
  width:67px;
  height:19px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:998px;
  top:7px;
  width:47px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:925px;
  top:7px;
  width:57px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:748px;
  top:7px;
  width:167px;
  height:19px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:98px;
  top:32px;
  width:302px;
  height:85px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:85px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:98px;
  top:114px;
  width:950px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:941px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:3px;
  width:950px;
  height:4px;
}
#u31 {
  position:absolute;
  left:543px;
  top:71px;
  width:106px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:680px;
  top:71px;
  width:110px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:120px;
  top:151px;
  width:270px;
  height:31px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:32px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:416px;
  top:158px;
  width:20px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:445px;
  top:159px;
  width:53px;
  height:19px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:120px;
  top:198px;
  width:130px;
  height:19px;
  color:#CCCCCC;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:236px;
  top:198px;
  width:64px;
  height:19px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:323px;
  top:198px;
  width:64px;
  height:19px;
  color:#0099FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:405px;
  top:201px;
  width:640px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:631px;
  top:-5px;
  width:14px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:617px;
  width:1201px;
  height:452px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:452px;
}
#u49 {
  position:absolute;
  left:2px;
  top:218px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:144px;
  top:443px;
  width:725px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:716px;
  top:-5px;
  width:14px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:725px;
  height:1px;
}
