body {
  margin:0px;
  background-color:rgba(38, 38, 38, 1);
  background-image:none;
  position:static;
  left:auto;
  width:392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1452 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u1453 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1454 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1456 {
  position:absolute;
  left:100px;
  top:100px;
  width:286px;
  height:35px;
  overflow:hidden;
}
#u1456_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1456_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1457 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:462px;
  overflow:hidden;
}
#u1457_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:462px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1457_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:934px;
  overflow:hidden;
  touch-action:none;
}
#u1459_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:934px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1459_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:463px;
}
#u1460 {
  position:absolute;
  left:-7px;
  top:0px;
  width:298px;
  height:463px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:224px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462 {
  position:absolute;
  left:0px;
  top:-39px;
  width:286px;
  height:39px;
  overflow:hidden;
}
#u1462_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1462_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1465 {
  position:absolute;
  left:69px;
  top:5px;
  width:24px;
  height:25px;
}
#u1466 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1467 {
  position:absolute;
  left:103px;
  top:10px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:55px;
}
#u1469 {
  position:absolute;
  left:93px;
  top:78px;
  width:299px;
  height:55px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:20px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1471 {
  position:absolute;
  left:198px;
  top:100px;
  width:90px;
  height:33px;
  color:#FFFFFF;
}
#u1472 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u1473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1473 {
  position:absolute;
  left:115px;
  top:104px;
  width:45px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1474 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  word-wrap:break-word;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u1475 {
  position:absolute;
  left:330px;
  top:106px;
  width:50px;
  height:20px;
  color:#FFFFFF;
  text-align:right;
}
#u1476 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
