body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1063px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:420px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:421px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:30px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:31px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:21px;
  top:18px;
  width:149px;
  height:14px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:984px;
  top:14px;
  width:79px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:54px;
  top:111px;
  width:917px;
  height:151px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:53px;
}
#u10 {
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:101px;
  top:0px;
  width:811px;
  height:52px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:53px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:52px;
  width:101px;
  height:47px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:48px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:101px;
  top:52px;
  width:811px;
  height:47px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:48px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:99px;
  width:101px;
  height:47px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:48px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:97px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:101px;
  top:99px;
  width:811px;
  height:47px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:48px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:239px;
  top:308px;
  width:58px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21_input {
  font-family:'应用字体';
}
#u22 {
  position:absolute;
  left:372px;
  top:308px;
  width:58px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22_input {
  font-family:'应用字体';
}
#u23 {
  position:absolute;
  left:168px;
  top:130px;
  width:200px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23_input {
  font-family:'应用字体';
}
#u24 {
  position:absolute;
  left:168px;
  top:175px;
  width:200px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24_input {
  font-family:'应用字体';
}
#u25 {
  position:absolute;
  left:168px;
  top:228px;
  width:200px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input {
  font-family:'应用字体';
}
#u25_input:disabled {
  color:grayText;
}
