body {
  margin:0px;
  background-color:rgba(38, 38, 38, 1);
  background-image:none;
  position:static;
  left:auto;
  width:392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u803 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u804 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u805 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u806 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u808 {
  position:absolute;
  left:100px;
  top:100px;
  width:286px;
  height:35px;
  overflow:hidden;
}
#u808_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u808_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u809 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:462px;
  overflow:hidden;
}
#u809_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:462px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u809_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:934px;
  overflow:hidden;
  touch-action:none;
}
#u811_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:934px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:462px;
}
#u812 {
  position:absolute;
  left:-3px;
  top:0px;
  width:293px;
  height:462px;
}
#u813 {
  position:absolute;
  left:2px;
  top:223px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:20px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u814 {
  position:absolute;
  left:5px;
  top:350px;
  width:270px;
  height:20px;
  font-size:10px;
  color:#AEAEAE;
}
#u815 {
  position:absolute;
  left:2px;
  top:4px;
  width:266px;
  word-wrap:break-word;
}
#u816 {
  position:absolute;
  left:0px;
  top:-39px;
  width:286px;
  height:39px;
  overflow:hidden;
}
#u816_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u816_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
}
#u818 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u819 {
  position:absolute;
  left:69px;
  top:5px;
  width:24px;
  height:25px;
}
#u820 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u821 {
  position:absolute;
  left:103px;
  top:10px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:55px;
}
#u823 {
  position:absolute;
  left:93px;
  top:78px;
  width:299px;
  height:55px;
}
#u824 {
  position:absolute;
  left:2px;
  top:20px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:199px;
  top:98px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u826 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u827 {
  position:absolute;
  left:110px;
  top:104px;
  width:80px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u828 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u829 {
  position:absolute;
  left:350px;
  top:104px;
  width:27px;
  height:23px;
}
#u830 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
