body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:51px;
  width:1190px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:0px;
  width:150px;
  height:43px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:190px;
  top:20px;
  width:1000px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:285px;
  top:20px;
  width:95px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:380px;
  top:20px;
  width:96px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:476px;
  top:20px;
  width:95px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:571px;
  top:20px;
  width:95px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:666px;
  top:20px;
  width:95px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:190px;
  top:20px;
  width:95px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:58px;
  width:79px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:200px;
  top:57px;
  width:314px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:761px;
  top:20px;
  width:96px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:857px;
  top:20px;
  width:95px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:738px;
  top:57px;
  width:306px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:130px;
  width:190px;
  height:330px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:330px;
}
#u31 {
  position:absolute;
  left:2px;
  top:157px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:40px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:140px;
  width:79px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:216px;
  width:66px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:242px;
  width:66px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:20px;
  top:192px;
  width:53px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:20px;
  top:268px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:500px;
  width:190px;
  height:360px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:360px;
}
#u45 {
  position:absolute;
  left:2px;
  top:172px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:460px;
  width:190px;
  height:40px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:20px;
  top:510px;
  width:53px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:560px;
  width:96px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:586px;
  width:53px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:536px;
  width:53px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:612px;
  width:53px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:638px;
  width:53px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:664px;
  width:66px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:20px;
  top:690px;
  width:53px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:20px;
  top:716px;
  width:105px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:294px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:20px;
  top:320px;
  width:48px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:20px;
  top:346px;
  width:48px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:20px;
  top:372px;
  width:53px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:20px;
  top:398px;
  width:53px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:20px;
  top:742px;
  width:79px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:20px;
  top:768px;
  width:53px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:20px;
  top:794px;
  width:53px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:20px;
  top:424px;
  width:66px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:20px;
  top:166px;
  width:53px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:20px;
  top:820px;
  width:79px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:15px;
  top:700px;
  width:95px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:760px;
  top:20px;
  width:95px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:200px;
  top:90px;
  width:223px;
  height:22px;
  font-size:18px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:22px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:190px;
  top:145px;
  width:1000px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u97 {
  position:absolute;
  left:200px;
  top:165px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:890px;
  top:198px;
  width:66px;
  height:16px;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:966px;
  top:196px;
  width:96px;
  height:22px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u101_input {
  font-family:'应用字体';
}
#u101_input:disabled {
  color:grayText;
}
#u102 {
  position:absolute;
  left:580px;
  top:275px;
  width:100px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u102_input {
  font-family:'应用字体';
}
#u103 {
  position:absolute;
  left:204px;
  top:199px;
  width:66px;
  height:16px;
  color:#000000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:707px;
  top:275px;
  width:61px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#990000;
  text-align:center;
}
#u105_input {
  font-family:'应用字体';
}
#u106 {
  position:absolute;
  left:280px;
  top:195px;
  width:96px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u106_input {
  font-family:'应用字体';
}
#u107 {
  position:absolute;
  left:444px;
  top:196px;
  width:66px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:520px;
  top:194px;
  width:74px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109_input {
  font-family:'应用字体';
}
#u110 {
  position:absolute;
  left:310px;
  top:350px;
  width:60px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u110_input {
  font-family:'应用字体';
}
#u111 {
  position:absolute;
  left:380px;
  top:350px;
  width:80px;
  height:25px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u111_input {
  font-family:'应用字体';
}
#u112 {
  position:absolute;
  left:196px;
  top:420px;
  width:14px;
  height:16px;
  text-align:center;
}
#u113 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u114 {
  position:absolute;
  left:223px;
  top:418px;
  width:126px;
  height:24px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:349px;
  top:418px;
  width:175px;
  height:24px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:24px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:250px;
  top:451px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:381px;
  top:452px;
  width:100px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:196px;
  top:455px;
  width:14px;
  height:16px;
  text-align:center;
}
#u123 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u124 {
  position:absolute;
  left:861px;
  top:416px;
  width:70px;
  height:24px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:931px;
  top:416px;
  width:70px;
  height:24px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u127 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:941px;
  top:447px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u129 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:524px;
  top:418px;
  width:70px;
  height:24px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u131 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:713px;
  top:417px;
  width:148px;
  height:24px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u133 {
  position:absolute;
  left:2px;
  top:4px;
  width:144px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:719px;
  top:449px;
  width:143px;
  height:24px;
  font-size:12px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u135 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:594px;
  top:418px;
  width:119px;
  height:24px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
}
#u137 {
  position:absolute;
  left:2px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:595px;
  top:448px;
  width:118px;
  height:24px;
  font-size:12px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:1001px;
  top:416px;
  width:199px;
  height:24px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:195px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1010px;
  top:447px;
  width:190px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u143 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1320px;
  top:416px;
  width:84px;
  height:24px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1330px;
  top:447px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u147 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:861px;
  top:448px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:529px;
  top:442px;
  width:55px;
  height:38px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u151 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:667px;
  top:196px;
  width:28px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:713px;
  top:193px;
  width:74px;
  height:25px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u154_input {
  font-family:'应用字体';
}
#u155 {
  position:absolute;
  left:1200px;
  top:416px;
  width:120px;
  height:24px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1206px;
  top:446px;
  width:110px;
  height:24px;
  font-size:12px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:223px;
  top:350px;
  width:77px;
  height:25px;
}
#u159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u159_input {
  font-family:'应用字体';
}
#u160 {
  position:absolute;
  left:1094px;
  top:390px;
  width:106px;
  height:16px;
  text-align:center;
}
#u161 {
  position:absolute;
  left:16px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u162 {
  position:absolute;
  left:250px;
  top:495px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u163 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:381px;
  top:496px;
  width:100px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u165 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:196px;
  top:499px;
  width:14px;
  height:16px;
  text-align:center;
}
#u167 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u168 {
  position:absolute;
  left:941px;
  top:491px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:719px;
  top:493px;
  width:143px;
  height:24px;
  font-size:12px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u171 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:595px;
  top:492px;
  width:118px;
  height:24px;
  font-size:12px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u173 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1010px;
  top:491px;
  width:190px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u175 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1330px;
  top:491px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u177 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:861px;
  top:492px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u179 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:529px;
  top:486px;
  width:55px;
  height:38px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u181 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1206px;
  top:490px;
  width:110px;
  height:24px;
  font-size:12px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u183 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:250px;
  top:534px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:381px;
  top:535px;
  width:100px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u187 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:196px;
  top:538px;
  width:14px;
  height:16px;
  text-align:center;
}
#u189 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u190 {
  position:absolute;
  left:941px;
  top:530px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u191 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:719px;
  top:532px;
  width:143px;
  height:24px;
  font-size:12px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u193 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:595px;
  top:531px;
  width:118px;
  height:24px;
  font-size:12px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u195 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1010px;
  top:530px;
  width:190px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u197 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1330px;
  top:530px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:861px;
  top:531px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u201 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:529px;
  top:525px;
  width:55px;
  height:38px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u203 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1206px;
  top:529px;
  width:110px;
  height:24px;
  font-size:12px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u205 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:250px;
  top:574px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u207 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:381px;
  top:575px;
  width:100px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:196px;
  top:578px;
  width:14px;
  height:16px;
  text-align:center;
}
#u211 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u212 {
  position:absolute;
  left:941px;
  top:570px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u213 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:719px;
  top:572px;
  width:143px;
  height:24px;
  font-size:12px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u215 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:595px;
  top:571px;
  width:118px;
  height:24px;
  font-size:12px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u217 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1010px;
  top:570px;
  width:190px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u219 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:1330px;
  top:570px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u221 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:861px;
  top:571px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u223 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:529px;
  top:565px;
  width:55px;
  height:38px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u225 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1206px;
  top:569px;
  width:110px;
  height:24px;
  font-size:12px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u227 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:250px;
  top:617px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u229 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:381px;
  top:618px;
  width:100px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u231 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:196px;
  top:621px;
  width:14px;
  height:16px;
  text-align:center;
}
#u233 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u234 {
  position:absolute;
  left:941px;
  top:613px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u235 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:719px;
  top:615px;
  width:143px;
  height:24px;
  font-size:12px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u237 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:595px;
  top:614px;
  width:118px;
  height:24px;
  font-size:12px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u239 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1010px;
  top:613px;
  width:190px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u241 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1330px;
  top:613px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u243 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:861px;
  top:614px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u245 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:529px;
  top:608px;
  width:55px;
  height:38px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u247 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:1206px;
  top:612px;
  width:110px;
  height:24px;
  font-size:12px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u249 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:250px;
  top:661px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u251 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:381px;
  top:662px;
  width:100px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u253 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  white-space:nowrap;
}
#u254 {
  position:absolute;
  left:196px;
  top:665px;
  width:14px;
  height:16px;
  text-align:center;
}
#u255 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u256 {
  position:absolute;
  left:941px;
  top:657px;
  width:55px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
}
#u257 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:719px;
  top:659px;
  width:143px;
  height:24px;
  font-size:12px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:24px;
}
#u259 {
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:595px;
  top:658px;
  width:118px;
  height:24px;
  font-size:12px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u261 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:1010px;
  top:657px;
  width:190px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
}
#u263 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:1330px;
  top:657px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FF0000;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u265 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:861px;
  top:658px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u267 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:529px;
  top:652px;
  width:55px;
  height:38px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:38px;
}
#u269 {
  position:absolute;
  left:2px;
  top:11px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:1206px;
  top:656px;
  width:110px;
  height:24px;
  font-size:12px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:24px;
}
#u271 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:196px;
  top:734px;
  width:169px;
  height:16px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u274 {
  position:absolute;
  left:862px;
  top:724px;
  width:194px;
  height:16px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u276 {
  position:absolute;
  left:1066px;
  top:720px;
  width:30px;
  height:25px;
}
#u276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u276_input {
  font-family:'应用字体';
}
#u277 {
  position:absolute;
  left:1116px;
  top:724px;
  width:60px;
  height:20px;
}
#u277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u277_input {
  font-family:'应用字体';
}
