body {
  margin:0px;
  background-color:rgba(38, 38, 38, 1);
  background-image:none;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1304 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1306 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1308 {
  position:absolute;
  left:416px;
  top:270px;
  width:204px;
  height:16px;
  color:#FFFFFF;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1310 {
  position:absolute;
  left:416px;
  top:204px;
  width:154px;
  height:16px;
  color:#FFFFFF;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1312 {
  position:absolute;
  left:100px;
  top:100px;
  width:286px;
  height:35px;
  overflow:hidden;
}
#u1312_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1312_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:55px;
}
#u1313 {
  position:absolute;
  left:93px;
  top:78px;
  width:299px;
  height:55px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:20px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1315 {
  position:absolute;
  left:198px;
  top:100px;
  width:90px;
  height:33px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:45px;
}
#u1317 {
  position:absolute;
  left:92px;
  top:550px;
  width:299px;
  height:45px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:14px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1323 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1325 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1327 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:462px;
  overflow:hidden;
}
#u1327_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:462px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1327_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:784px;
  overflow:hidden;
  touch-action:none;
}
#u1329_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:784px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1329_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  overflow:hidden;
}
#u1330_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1330_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:136px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u1330_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1330_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:136px;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u1330_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1330_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:136px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u1330_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1330_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:136px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u1330_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1330_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:136px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u1330_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1330_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:136px;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:135px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:60px;
  width:282px;
  word-wrap:break-word;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:78px;
  top:110px;
  width:120px;
  height:14px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:-1px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1347 {
  position:absolute;
  left:94px;
  top:112px;
  width:10px;
  height:10px;
}
#u1347_img.selected {
}
#u1347.selected {
}
#u1348 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1349 {
  position:absolute;
  left:110px;
  top:112px;
  width:10px;
  height:10px;
}
#u1349_img.selected {
}
#u1349.selected {
}
#u1350 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1351 {
  position:absolute;
  left:126px;
  top:112px;
  width:10px;
  height:10px;
}
#u1351_img.selected {
}
#u1351.selected {
}
#u1352 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1353 {
  position:absolute;
  left:140px;
  top:112px;
  width:10px;
  height:10px;
}
#u1353_img.selected {
}
#u1353.selected {
}
#u1354 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1355 {
  position:absolute;
  left:156px;
  top:112px;
  width:10px;
  height:10px;
}
#u1355_img.selected {
}
#u1355.selected {
}
#u1356 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1357 {
  position:absolute;
  left:172px;
  top:112px;
  width:10px;
  height:10px;
}
#u1357_img.selected {
}
#u1357.selected {
}
#u1358 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:301px;
}
#u1359 {
  position:absolute;
  left:-5px;
  top:135px;
  width:295px;
  height:301px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:142px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:293px;
}
#u1361 {
  position:absolute;
  left:-9px;
  top:430px;
  width:300px;
  height:293px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:138px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:293px;
}
#u1363 {
  position:absolute;
  left:-9px;
  top:715px;
  width:300px;
  height:293px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:138px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365 {
  position:absolute;
  left:0px;
  top:-33px;
  width:286px;
  height:33px;
  overflow:hidden;
}
#u1365_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1365_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1368 {
  position:absolute;
  left:69px;
  top:5px;
  width:24px;
  height:25px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1370 {
  position:absolute;
  left:103px;
  top:10px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:33px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1373 {
  position:absolute;
  left:166px;
  top:100px;
  width:153px;
  height:33px;
  font-size:16px;
  color:#FFFFFF;
}
#u1374 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
