body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:51px;
  width:1190px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:0px;
  width:150px;
  height:43px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:190px;
  top:20px;
  width:1000px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:285px;
  top:20px;
  width:95px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:380px;
  top:20px;
  width:96px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:476px;
  top:20px;
  width:95px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:571px;
  top:20px;
  width:95px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:666px;
  top:20px;
  width:95px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:190px;
  top:20px;
  width:95px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:58px;
  width:79px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:200px;
  top:57px;
  width:314px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:761px;
  top:20px;
  width:96px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:857px;
  top:20px;
  width:95px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:738px;
  top:57px;
  width:306px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:40px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:130px;
  width:190px;
  height:90px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:140px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:166px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:192px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:218px;
  width:190px;
  height:40px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:258px;
  width:190px;
  height:142px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:142px;
}
#u43 {
  position:absolute;
  left:2px;
  top:63px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:20px;
  top:268px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:294px;
  width:53px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:320px;
  width:53px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:346px;
  width:66px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:372px;
  width:79px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:440px;
  width:190px;
  height:68px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:68px;
}
#u55 {
  position:absolute;
  left:2px;
  top:26px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:400px;
  width:190px;
  height:40px;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:20px;
  top:450px;
  width:92px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:476px;
  width:53px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:381px;
  top:20px;
  width:95px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:10px;
  top:180px;
  width:95px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:200px;
  top:90px;
  width:151px;
  height:22px;
  font-size:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:190px;
  top:145px;
  width:1000px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u71 {
  position:absolute;
  left:200px;
  top:165px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:410px;
  top:200px;
  width:66px;
  height:16px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:486px;
  top:196px;
  width:120px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75_input {
  font-family:'应用字体';
}
#u76 {
  position:absolute;
  left:572px;
  top:250px;
  width:100px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76_input {
  font-family:'应用字体';
}
#u77 {
  position:absolute;
  left:204px;
  top:199px;
  width:66px;
  height:16px;
  color:#000000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:699px;
  top:250px;
  width:61px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#990000;
  text-align:center;
}
#u79_input {
  font-family:'应用字体';
}
#u80 {
  position:absolute;
  left:280px;
  top:195px;
  width:96px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80_input {
  font-family:'应用字体';
}
#u81 {
  position:absolute;
  left:275px;
  top:300px;
  width:53px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81_input {
  font-family:'应用字体';
}
#u82 {
  position:absolute;
  left:203px;
  top:300px;
  width:60px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82_input {
  font-family:'应用字体';
}
#u83 {
  position:absolute;
  left:204px;
  top:354px;
  width:14px;
  height:16px;
  text-align:center;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:218px;
  top:350px;
  width:130px;
  height:24px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:24px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:348px;
  top:350px;
  width:80px;
  height:24px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:484px;
  top:350px;
  width:174px;
  height:24px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
}
#u90 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:418px;
  top:350px;
  width:66px;
  height:24px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:218px;
  top:374px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:348px;
  top:374px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:414px;
  top:374px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:510px;
  top:374px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:203px;
  top:376px;
  width:14px;
  height:16px;
  text-align:center;
}
#u102 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103 {
  position:absolute;
  left:348px;
  top:300px;
  width:53px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u103_input {
  font-family:'应用字体';
}
#u104 {
  position:absolute;
  left:658px;
  top:350px;
  width:102px;
  height:24px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:668px;
  top:374px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:423px;
  top:300px;
  width:100px;
  height:25px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u108_input {
  font-family:'应用字体';
}
#u109 {
  position:absolute;
  left:219px;
  top:398px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:349px;
  top:398px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:415px;
  top:398px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:511px;
  top:398px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:204px;
  top:400px;
  width:14px;
  height:16px;
  text-align:center;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:669px;
  top:398px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:219px;
  top:422px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:349px;
  top:422px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:415px;
  top:422px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:511px;
  top:422px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:204px;
  top:424px;
  width:14px;
  height:16px;
  text-align:center;
}
#u130 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u131 {
  position:absolute;
  left:669px;
  top:422px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:219px;
  top:446px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:349px;
  top:446px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:415px;
  top:446px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u138 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:511px;
  top:446px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:204px;
  top:448px;
  width:14px;
  height:16px;
  text-align:center;
}
#u142 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u143 {
  position:absolute;
  left:669px;
  top:446px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u144 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:220px;
  top:470px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u146 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:350px;
  top:470px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u148 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:416px;
  top:470px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u150 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:512px;
  top:470px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u152 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:205px;
  top:472px;
  width:14px;
  height:16px;
  text-align:center;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u155 {
  position:absolute;
  left:670px;
  top:470px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:220px;
  top:494px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:350px;
  top:494px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u160 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:416px;
  top:494px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:512px;
  top:494px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:205px;
  top:496px;
  width:14px;
  height:16px;
  text-align:center;
}
#u166 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u167 {
  position:absolute;
  left:670px;
  top:494px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u168 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:220px;
  top:518px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u170 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:350px;
  top:518px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u172 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:416px;
  top:518px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u174 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:512px;
  top:518px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u176 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:205px;
  top:520px;
  width:14px;
  height:16px;
  text-align:center;
}
#u178 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u179 {
  position:absolute;
  left:670px;
  top:518px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u180 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:221px;
  top:542px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u182 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:351px;
  top:542px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u184 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:417px;
  top:542px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u186 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:513px;
  top:542px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u188 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:206px;
  top:544px;
  width:14px;
  height:16px;
  text-align:center;
}
#u190 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u191 {
  position:absolute;
  left:671px;
  top:542px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u192 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:221px;
  top:566px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:351px;
  top:566px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u196 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:417px;
  top:566px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:513px;
  top:566px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u200 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:206px;
  top:568px;
  width:14px;
  height:16px;
  text-align:center;
}
#u202 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u203 {
  position:absolute;
  left:671px;
  top:566px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u204 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:221px;
  top:590px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u206 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:351px;
  top:590px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:417px;
  top:590px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:513px;
  top:590px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u212 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:206px;
  top:592px;
  width:14px;
  height:16px;
  text-align:center;
}
#u214 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u215 {
  position:absolute;
  left:671px;
  top:590px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:222px;
  top:614px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u218 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:352px;
  top:614px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u220 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:418px;
  top:614px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u222 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:514px;
  top:614px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u224 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:207px;
  top:616px;
  width:14px;
  height:16px;
  text-align:center;
}
#u226 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u227 {
  position:absolute;
  left:672px;
  top:614px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u228 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:222px;
  top:638px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u230 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:352px;
  top:638px;
  width:70px;
  height:24px;
  font-size:12px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u232 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:418px;
  top:638px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u234 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:514px;
  top:638px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u236 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:207px;
  top:640px;
  width:14px;
  height:16px;
  text-align:center;
}
#u238 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u239 {
  position:absolute;
  left:672px;
  top:638px;
  width:88px;
  height:24px;
  font-size:12px;
  color:#0000FF;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:207px;
  top:694px;
  width:169px;
  height:16px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u243 {
  position:absolute;
  left:706px;
  top:689px;
  width:194px;
  height:16px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u245 {
  position:absolute;
  left:910px;
  top:685px;
  width:30px;
  height:25px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u245_input {
  font-family:'应用字体';
}
#u246 {
  position:absolute;
  left:960px;
  top:689px;
  width:60px;
  height:20px;
}
#u246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u246_input {
  font-family:'应用字体';
}
#u247 {
  position:absolute;
  left:960px;
  top:374px;
  width:380px;
  height:240px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:240px;
}
#u248 {
  position:absolute;
  left:2px;
  top:112px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:974px;
  top:382px;
  width:66px;
  height:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:974px;
  top:418px;
  width:92px;
  height:16px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u253 {
  position:absolute;
  left:970px;
  top:444px;
  width:150px;
  height:25px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u253_input {
  font-family:'应用字体';
}
#u254 {
  position:absolute;
  left:1130px;
  top:444px;
  width:80px;
  height:25px;
}
#u254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u254_input {
  font-family:'应用字体';
}
#u255 {
  position:absolute;
  left:974px;
  top:583px;
  width:116px;
  height:25px;
}
#u255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u255_input {
  font-family:'应用字体';
}
#u256 {
  position:absolute;
  left:974px;
  top:498px;
  width:144px;
  height:16px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:974px;
  top:534px;
  width:92px;
  height:16px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:669px;
  top:200px;
  width:66px;
  height:16px;
  color:#000000;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:745px;
  top:196px;
  width:75px;
  height:25px;
}
#u262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u262_input {
  font-family:'应用字体';
}
#u263 {
  position:absolute;
  left:830px;
  top:200px;
  width:5px;
  height:16px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u265 {
  position:absolute;
  left:845px;
  top:196px;
  width:75px;
  height:25px;
}
#u265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u265_input {
  font-family:'应用字体';
}
#u266 {
  position:absolute;
  left:1080px;
  top:534px;
  width:92px;
  height:16px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:1182px;
  top:534px;
  width:73px;
  height:16px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u270 {
  position:absolute;
  left:1130px;
  top:583px;
  width:116px;
  height:25px;
}
#u270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u270_input {
  font-family:'应用字体';
}
