body {
  margin:0px;
  background-color:rgba(38, 38, 38, 1);
  background-image:none;
  position:static;
  left:auto;
  width:392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1227 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1229 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1231 {
  position:absolute;
  left:100px;
  top:100px;
  width:286px;
  height:35px;
  overflow:hidden;
}
#u1231_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1231_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:55px;
}
#u1232 {
  position:absolute;
  left:93px;
  top:78px;
  width:299px;
  height:55px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:20px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:33px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1234 {
  position:absolute;
  left:190px;
  top:98px;
  width:111px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1235 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(80, 154, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1236 {
  position:absolute;
  left:110px;
  top:104px;
  width:80px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1237 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u1238 {
  position:absolute;
  left:350px;
  top:104px;
  width:27px;
  height:23px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:187px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:187px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:86px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1244 {
  position:absolute;
  left:169px;
  top:138px;
  width:24px;
  height:25px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1246 {
  position:absolute;
  left:201px;
  top:143px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1248 {
  position:absolute;
  left:100px;
  top:133px;
  width:286px;
  height:462px;
  overflow:hidden;
}
#u1248_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:462px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1248_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:934px;
  overflow:hidden;
  touch-action:none;
}
#u1250_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:934px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:467px;
}
#u1251 {
  position:absolute;
  left:-8px;
  top:0px;
  width:301px;
  height:467px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:226px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253 {
  position:absolute;
  left:0px;
  top:-39px;
  width:286px;
  height:39px;
  overflow:hidden;
}
#u1253_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:39px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1253_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:33px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1256 {
  position:absolute;
  left:69px;
  top:5px;
  width:24px;
  height:25px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1258 {
  position:absolute;
  left:103px;
  top:10px;
  width:97px;
  height:14px;
  font-size:12px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
