body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:51px;
  width:1190px;
  height:30px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:20px;
  top:0px;
  width:150px;
  height:43px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:43px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:190px;
  top:20px;
  width:1000px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:285px;
  top:20px;
  width:95px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:380px;
  top:20px;
  width:96px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:476px;
  top:20px;
  width:95px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:571px;
  top:20px;
  width:95px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:666px;
  top:20px;
  width:95px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:190px;
  top:20px;
  width:95px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:58px;
  width:79px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:200px;
  top:57px;
  width:314px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:761px;
  top:20px;
  width:96px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:857px;
  top:20px;
  width:95px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:738px;
  top:57px;
  width:306px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:220px;
  width:190px;
  height:40px;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:260px;
  width:190px;
  height:64px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:64px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:270px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:296px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:40px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:130px;
  width:190px;
  height:90px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:90px;
}
#u41 {
  position:absolute;
  left:2px;
  top:37px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:140px;
  width:53px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:20px;
  top:166px;
  width:53px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:192px;
  width:53px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:0px;
  top:324px;
  width:190px;
  height:40px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:364px;
  width:190px;
  height:64px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:64px;
}
#u51 {
  position:absolute;
  left:2px;
  top:24px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:20px;
  top:374px;
  width:53px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:400px;
  width:53px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:570px;
  top:20px;
  width:95px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:5px;
  top:188px;
  width:95px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:210px;
  top:165px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:440px;
  top:198px;
  width:66px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:714px;
  top:199px;
  width:40px;
  height:17px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:510px;
  top:195px;
  width:184px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69_input {
  font-family:'应用字体';
}
#u70 {
  position:absolute;
  left:1019px;
  top:199px;
  width:40px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1083px;
  top:195px;
  width:90px;
  height:22px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u72_input {
  font-family:'应用字体';
}
#u72_input:disabled {
  color:grayText;
}
#u73 {
  position:absolute;
  left:559px;
  top:241px;
  width:66px;
  height:16px;
  color:#990000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:635px;
  top:237px;
  width:124px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u75_input {
  font-family:'应用字体';
}
#u76 {
  position:absolute;
  left:789px;
  top:243px;
  width:66px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:217px;
  top:240px;
  width:66px;
  height:16px;
  color:#990000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:283px;
  top:237px;
  width:90px;
  height:22px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u80_input {
  font-family:'应用字体';
}
#u80_input:disabled {
  color:grayText;
}
#u81 {
  position:absolute;
  left:594px;
  top:285px;
  width:100px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81_input {
  font-family:'应用字体';
}
#u82 {
  position:absolute;
  left:754px;
  top:195px;
  width:74px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82_input {
  font-family:'应用字体';
}
#u83 {
  position:absolute;
  left:214px;
  top:199px;
  width:66px;
  height:16px;
  color:#990000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:270px;
  top:195px;
  width:60px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85_input {
  font-family:'应用字体';
}
#u86 {
  position:absolute;
  left:370px;
  top:195px;
  width:60px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86_input {
  font-family:'应用字体';
}
#u87 {
  position:absolute;
  left:340px;
  top:199px;
  width:14px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:719px;
  top:285px;
  width:61px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#990000;
  text-align:center;
}
#u89_input {
  font-family:'应用字体';
}
#u90 {
  position:absolute;
  left:852px;
  top:197px;
  width:53px;
  height:17px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:915px;
  top:193px;
  width:74px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u92_input {
  font-family:'应用字体';
}
#u93 {
  position:absolute;
  left:865px;
  top:237px;
  width:124px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u93_input {
  font-family:'应用字体';
}
#u94 {
  position:absolute;
  left:1019px;
  top:243px;
  width:66px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1095px;
  top:237px;
  width:124px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96_input {
  font-family:'应用字体';
}
#u97 {
  position:absolute;
  left:383px;
  top:241px;
  width:66px;
  height:16px;
  color:#990000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:459px;
  top:237px;
  width:90px;
  height:22px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u99_input {
  font-family:'应用字体';
}
#u99_input:disabled {
  color:grayText;
}
#u100 {
  position:absolute;
  left:200px;
  top:99px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:190px;
  top:145px;
  width:1000px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u104 {
  position:absolute;
  left:200px;
  top:340px;
  width:60px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u104_input {
  font-family:'应用字体';
}
#u105 {
  position:absolute;
  left:280px;
  top:340px;
  width:60px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u105_input {
  font-family:'应用字体';
}
#u106 {
  position:absolute;
  left:365px;
  top:340px;
  width:60px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u106_input {
  font-family:'应用字体';
}
#u107 {
  position:absolute;
  left:600px;
  top:340px;
  width:60px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u107_input {
  font-family:'应用字体';
}
#u108 {
  position:absolute;
  left:200px;
  top:390px;
  width:967px;
  height:131px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:43px;
  top:0px;
  width:49px;
  height:30px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:92px;
  top:0px;
  width:199px;
  height:30px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:291px;
  top:0px;
  width:72px;
  height:30px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:363px;
  top:0px;
  width:87px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:450px;
  top:0px;
  width:193px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:643px;
  top:0px;
  width:140px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:783px;
  top:0px;
  width:72px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:855px;
  top:0px;
  width:107px;
  height:30px;
  color:#990000;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:30px;
  width:43px;
  height:36px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:43px;
  top:30px;
  width:49px;
  height:36px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:92px;
  top:30px;
  width:199px;
  height:36px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:291px;
  top:30px;
  width:72px;
  height:36px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:363px;
  top:30px;
  width:87px;
  height:36px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:450px;
  top:30px;
  width:193px;
  height:36px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:643px;
  top:30px;
  width:140px;
  height:36px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:783px;
  top:30px;
  width:72px;
  height:36px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:855px;
  top:30px;
  width:107px;
  height:36px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:66px;
  width:43px;
  height:30px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:43px;
  top:66px;
  width:49px;
  height:30px;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:92px;
  top:66px;
  width:199px;
  height:30px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:291px;
  top:66px;
  width:72px;
  height:30px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:363px;
  top:66px;
  width:87px;
  height:30px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:450px;
  top:66px;
  width:193px;
  height:30px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:643px;
  top:66px;
  width:140px;
  height:30px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:783px;
  top:66px;
  width:72px;
  height:30px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:855px;
  top:66px;
  width:107px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:96px;
  width:43px;
  height:30px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:43px;
  top:96px;
  width:49px;
  height:30px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:92px;
  top:96px;
  width:199px;
  height:30px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:291px;
  top:96px;
  width:72px;
  height:30px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:363px;
  top:96px;
  width:87px;
  height:30px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:450px;
  top:96px;
  width:193px;
  height:30px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:189px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:643px;
  top:96px;
  width:140px;
  height:30px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:783px;
  top:96px;
  width:72px;
  height:30px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:855px;
  top:96px;
  width:107px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u180 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:210px;
  top:397px;
  width:30px;
  height:16px;
}
#u182 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u183 {
  position:absolute;
  left:211px;
  top:429px;
  width:30px;
  height:16px;
}
#u184 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u185 {
  position:absolute;
  left:211px;
  top:463px;
  width:30px;
  height:16px;
}
#u186 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u187 {
  position:absolute;
  left:211px;
  top:491px;
  width:30px;
  height:16px;
}
#u188 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u189 {
  position:absolute;
  left:200px;
  top:575px;
  width:60px;
  height:25px;
}
#u189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u189_input {
  font-family:'应用字体';
}
#u190 {
  position:absolute;
  left:280px;
  top:575px;
  width:60px;
  height:25px;
}
#u190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u190_input {
  font-family:'应用字体';
}
#u191 {
  position:absolute;
  left:365px;
  top:575px;
  width:60px;
  height:25px;
}
#u191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u191_input {
  font-family:'应用字体';
}
#u192 {
  position:absolute;
  left:200px;
  top:540px;
  width:169px;
  height:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:866px;
  top:530px;
  width:194px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:1070px;
  top:526px;
  width:30px;
  height:25px;
}
#u196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u196_input {
  font-family:'应用字体';
}
#u197 {
  position:absolute;
  left:1120px;
  top:531px;
  width:60px;
  height:20px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u197_input {
  font-family:'应用字体';
}
#u198 {
  position:absolute;
  left:445px;
  top:340px;
  width:60px;
  height:25px;
}
#u198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u198_input {
  font-family:'应用字体';
}
#u199 {
  position:absolute;
  left:526px;
  top:340px;
  width:60px;
  height:25px;
}
#u199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u199_input {
  font-family:'应用字体';
}
#u200 {
  position:absolute;
  left:690px;
  top:340px;
  width:60px;
  height:25px;
}
#u200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u200_input {
  font-family:'应用字体';
}
#u201 {
  position:absolute;
  left:445px;
  top:575px;
  width:60px;
  height:25px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u201_input {
  font-family:'应用字体';
}
#u202 {
  position:absolute;
  left:526px;
  top:575px;
  width:60px;
  height:25px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u202_input {
  font-family:'应用字体';
}
