body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:52px;
  width:1000px;
  height:558px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:559px;
}
#u1 {
  position:absolute;
  left:2px;
  top:271px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:201px;
  top:56px;
  width:150px;
  height:552px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:553px;
}
#u3 {
  position:absolute;
  left:2px;
  top:268px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:-3px;
  top:0px;
  width:1400px;
  height:50px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:289px;
  top:17px;
  width:70px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1137px;
  top:17px;
  width:62px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:1px;
  width:58px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:197px;
  top:14px;
  width:100px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:278px;
  top:21px;
  width:10px;
  height:15px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u13_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:15px;
}
#u14 {
  position:absolute;
  left:1032px;
  top:18px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1087px;
  top:18px;
  width:27px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:413px;
  top:18px;
  width:48px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:478px;
  top:18px;
  width:55px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:551px;
  top:18px;
  width:51px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:953px;
  top:18px;
  width:65px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:619px;
  top:18px;
  width:48px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1064px;
  top:25px;
  width:10px;
  height:6px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:612px;
  top:45px;
  width:65px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:56px;
  top:-5px;
  width:14px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  height:3px;
}
#u32 {
  position:absolute;
  left:200px;
  top:172px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:350px;
  top:182px;
  width:10px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:233px;
  top:182px;
  width:82px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:233px;
  top:89px;
  width:82px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:233px;
  top:136px;
  width:82px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:361px;
  top:70px;
  width:826px;
  height:522px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:522px;
}
#u43 {
  position:absolute;
  left:2px;
  top:253px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1182px;
  top:79px;
  width:10px;
  height:501px;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:492px;
  width:20px;
  height:14px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:501px;
}
