body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:336px;
  top:223px;
  width:102px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:247px;
  width:790px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:773px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:790px;
  height:1px;
}
#u3 {
  position:absolute;
  left:336px;
  top:267px;
  width:54px;
  height:16px;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:380px;
  top:260px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:439px;
  top:266px;
  width:10px;
  height:20px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u8 {
  position:absolute;
  left:447px;
  top:260px;
  width:70px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:542px;
  top:260px;
  width:70px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:644px;
  top:260px;
  width:70px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:754px;
  top:260px;
  width:70px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:860px;
  top:260px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:983px;
  top:260px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#3333FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:527px;
  top:265px;
  width:10px;
  height:20px;
}
#u20_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u20_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u20_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u21 {
  position:absolute;
  left:624px;
  top:265px;
  width:10px;
  height:20px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u22 {
  position:absolute;
  left:734px;
  top:265px;
  width:10px;
  height:20px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u23 {
  position:absolute;
  left:850px;
  top:265px;
  width:10px;
  height:20px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u24 {
  position:absolute;
  left:973px;
  top:265px;
  width:10px;
  height:20px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u25 {
  position:absolute;
  left:330px;
  top:346px;
  width:42px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:371px;
  top:346px;
  width:83px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:453px;
  top:346px;
  width:83px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:535px;
  top:346px;
  width:83px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:617px;
  top:346px;
  width:101px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:717px;
  top:346px;
  width:101px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:817px;
  top:346px;
  width:101px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:917px;
  top:346px;
  width:101px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1017px;
  top:346px;
  width:101px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:330px;
  top:375px;
  width:42px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:371px;
  top:375px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:453px;
  top:375px;
  width:83px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:535px;
  top:375px;
  width:83px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:617px;
  top:375px;
  width:101px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:717px;
  top:375px;
  width:101px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:817px;
  top:375px;
  width:101px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:917px;
  top:375px;
  width:101px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1017px;
  top:375px;
  width:101px;
  height:30px;
  color:#0000FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:330px;
  top:404px;
  width:42px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:371px;
  top:404px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:453px;
  top:404px;
  width:83px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:535px;
  top:404px;
  width:83px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:617px;
  top:404px;
  width:101px;
  height:30px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:717px;
  top:404px;
  width:101px;
  height:30px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:817px;
  top:404px;
  width:101px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:917px;
  top:404px;
  width:101px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1017px;
  top:404px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:330px;
  top:433px;
  width:42px;
  height:30px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:371px;
  top:433px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:453px;
  top:433px;
  width:83px;
  height:30px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:535px;
  top:433px;
  width:83px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:617px;
  top:433px;
  width:101px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:717px;
  top:433px;
  width:101px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:817px;
  top:433px;
  width:101px;
  height:30px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:917px;
  top:433px;
  width:101px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1017px;
  top:433px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:330px;
  top:462px;
  width:42px;
  height:30px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:371px;
  top:462px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:453px;
  top:462px;
  width:83px;
  height:30px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:535px;
  top:462px;
  width:83px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:617px;
  top:462px;
  width:101px;
  height:30px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:717px;
  top:462px;
  width:101px;
  height:30px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:817px;
  top:462px;
  width:101px;
  height:30px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:917px;
  top:462px;
  width:101px;
  height:30px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1017px;
  top:462px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:330px;
  top:491px;
  width:42px;
  height:30px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:371px;
  top:491px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:453px;
  top:491px;
  width:83px;
  height:30px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:535px;
  top:491px;
  width:83px;
  height:30px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:617px;
  top:491px;
  width:101px;
  height:30px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:717px;
  top:491px;
  width:101px;
  height:30px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:817px;
  top:491px;
  width:101px;
  height:30px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:917px;
  top:491px;
  width:101px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1017px;
  top:491px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:330px;
  top:520px;
  width:42px;
  height:30px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:371px;
  top:520px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:453px;
  top:520px;
  width:83px;
  height:30px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:535px;
  top:520px;
  width:83px;
  height:30px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:617px;
  top:520px;
  width:101px;
  height:30px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:717px;
  top:520px;
  width:101px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:817px;
  top:520px;
  width:101px;
  height:30px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:917px;
  top:520px;
  width:101px;
  height:30px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:1017px;
  top:520px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:330px;
  top:549px;
  width:42px;
  height:30px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:371px;
  top:549px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:453px;
  top:549px;
  width:83px;
  height:30px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:535px;
  top:549px;
  width:83px;
  height:30px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:617px;
  top:549px;
  width:101px;
  height:30px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:717px;
  top:549px;
  width:101px;
  height:30px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u162 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:817px;
  top:549px;
  width:101px;
  height:30px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u164 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:917px;
  top:549px;
  width:101px;
  height:30px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1017px;
  top:549px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:330px;
  top:578px;
  width:42px;
  height:30px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:371px;
  top:578px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:453px;
  top:578px;
  width:83px;
  height:30px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:535px;
  top:578px;
  width:83px;
  height:30px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:617px;
  top:578px;
  width:101px;
  height:30px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:717px;
  top:578px;
  width:101px;
  height:30px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u180 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:817px;
  top:578px;
  width:101px;
  height:30px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u182 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:917px;
  top:578px;
  width:101px;
  height:30px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:1017px;
  top:578px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:330px;
  top:607px;
  width:42px;
  height:30px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:371px;
  top:607px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:453px;
  top:607px;
  width:83px;
  height:30px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u192 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:535px;
  top:607px;
  width:83px;
  height:30px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u194 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:617px;
  top:607px;
  width:101px;
  height:30px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u196 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:717px;
  top:607px;
  width:101px;
  height:30px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u198 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:817px;
  top:607px;
  width:101px;
  height:30px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u200 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:917px;
  top:607px;
  width:101px;
  height:30px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u202 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1017px;
  top:607px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u204 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:330px;
  top:636px;
  width:42px;
  height:30px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u206 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:371px;
  top:636px;
  width:83px;
  height:30px;
  color:#9933FF;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u208 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:453px;
  top:636px;
  width:83px;
  height:30px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u210 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:535px;
  top:636px;
  width:83px;
  height:30px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u212 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:617px;
  top:636px;
  width:101px;
  height:30px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u214 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:717px;
  top:636px;
  width:101px;
  height:30px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u216 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:817px;
  top:636px;
  width:101px;
  height:30px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u218 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:917px;
  top:636px;
  width:101px;
  height:30px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u220 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:1017px;
  top:636px;
  width:101px;
  height:30px;
  color:#FF0000;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u222 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:330px;
  top:665px;
  width:788px;
  height:55px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:55px;
}
#u224 {
  position:absolute;
  left:2px;
  top:20px;
  width:784px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:508px;
  top:676px;
  width:405px;
  height:31px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:31px;
}
#u226 {
  position:absolute;
  left:2px;
  top:8px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:330px;
  top:740px;
  width:140px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:330px;
  top:764px;
  width:790px;
  height:10px;
}
#u229_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u229_end {
  position:absolute;
  left:773px;
  top:-5px;
  width:18px;
  height:20px;
}
#u229_line {
  position:absolute;
  left:0px;
  top:5px;
  width:790px;
  height:1px;
}
#u230 {
  position:absolute;
  left:330px;
  top:790px;
  width:63px;
  height:30px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u231 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:392px;
  top:790px;
  width:85px;
  height:30px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u233 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:475px;
  top:790px;
  width:85px;
  height:30px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u235 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:559px;
  top:790px;
  width:85px;
  height:30px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u237 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:643px;
  top:790px;
  width:137px;
  height:30px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u239 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:779px;
  top:790px;
  width:85px;
  height:30px;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u241 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:863px;
  top:790px;
  width:136px;
  height:30px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u243 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:998px;
  top:790px;
  width:119px;
  height:30px;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u245 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:330px;
  top:819px;
  width:63px;
  height:30px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u247 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:392px;
  top:819px;
  width:85px;
  height:30px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u249 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:475px;
  top:819px;
  width:85px;
  height:30px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u251 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:559px;
  top:819px;
  width:85px;
  height:30px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u253 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:643px;
  top:819px;
  width:137px;
  height:30px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u255 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:779px;
  top:819px;
  width:85px;
  height:30px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u257 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:863px;
  top:819px;
  width:136px;
  height:30px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u259 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:998px;
  top:819px;
  width:119px;
  height:30px;
  color:#CC33FF;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u261 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:330px;
  top:848px;
  width:63px;
  height:30px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u263 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:392px;
  top:848px;
  width:85px;
  height:30px;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u265 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:475px;
  top:848px;
  width:85px;
  height:30px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u267 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:559px;
  top:848px;
  width:85px;
  height:30px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u269 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:643px;
  top:848px;
  width:137px;
  height:30px;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u271 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:779px;
  top:848px;
  width:85px;
  height:30px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u273 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:863px;
  top:848px;
  width:136px;
  height:30px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u275 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:998px;
  top:848px;
  width:119px;
  height:30px;
  color:#CC33FF;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u277 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:330px;
  top:877px;
  width:63px;
  height:30px;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u279 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:392px;
  top:877px;
  width:85px;
  height:30px;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u281 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:475px;
  top:877px;
  width:85px;
  height:30px;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u283 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:559px;
  top:877px;
  width:85px;
  height:30px;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u285 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:643px;
  top:877px;
  width:137px;
  height:30px;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u287 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:779px;
  top:877px;
  width:85px;
  height:30px;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u289 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:863px;
  top:877px;
  width:136px;
  height:30px;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u291 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:998px;
  top:877px;
  width:119px;
  height:30px;
  color:#CC33FF;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u293 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:330px;
  top:906px;
  width:787px;
  height:64px;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:64px;
}
#u295 {
  position:absolute;
  left:2px;
  top:24px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:532px;
  top:917px;
  width:386px;
  height:36px;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:36px;
}
#u297 {
  position:absolute;
  left:2px;
  top:10px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:0px;
  top:1577px;
  width:1663px;
  height:328px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:328px;
}
#u299 {
  position:absolute;
  left:2px;
  top:156px;
  width:1659px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:330px;
  top:310px;
  width:788px;
  height:36px;
  text-align:left;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:36px;
}
#u301 {
  position:absolute;
  left:2px;
  top:10px;
  width:784px;
  word-wrap:break-word;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:188px;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:188px;
}
#u304 {
  position:absolute;
  left:2px;
  top:86px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305 {
  position:absolute;
  left:1135px;
  top:219px;
  width:200px;
  height:311px;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:311px;
}
#u306 {
  position:absolute;
  left:2px;
  top:148px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307 {
  position:absolute;
  left:1138px;
  top:240px;
  width:72px;
  height:70px;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:70px;
}
#u308 {
  position:absolute;
  left:2px;
  top:19px;
  width:68px;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:1168px;
  top:326px;
  width:53px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u309_img.mouseOver {
}
#u309.mouseOver {
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u311 {
  position:absolute;
  left:1171px;
  top:357px;
  width:44px;
  height:16px;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:1248px;
  top:326px;
  width:49px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u313_img.mouseOver {
}
#u313.mouseOver {
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:1254px;
  top:357px;
  width:27px;
  height:16px;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u317 {
  position:absolute;
  left:1220px;
  top:276px;
  width:115px;
  height:16px;
  color:#FF0000;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u319 {
  position:absolute;
  left:1220px;
  top:245px;
  width:75px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u321 {
  position:absolute;
  left:1135px;
  top:379px;
  width:200px;
  height:40px;
  font-size:20px;
  color:#9933FF;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u321_img.selected {
}
#u321.selected {
}
#u321_img.mouseOver {
}
#u321.mouseOver {
}
#u322 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:1135px;
  top:424px;
  width:200px;
  height:40px;
  font-size:20px;
  color:#9933FF;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u323_img.selected {
}
#u323.selected {
}
#u323_img.mouseOver {
}
#u323.mouseOver {
}
#u324 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u325 {
  position:absolute;
  left:1135px;
  top:468px;
  width:200px;
  height:40px;
  font-size:20px;
  color:#9933FF;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u325_img.selected {
}
#u325.selected {
}
#u325_img.mouseOver {
}
#u325.mouseOver {
}
#u326 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:1135px;
  top:537px;
  width:200px;
  height:532px;
  line-height:28px;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:532px;
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:1135px;
  top:561px;
  width:190px;
  height:10px;
}
#u329_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u329_end {
  position:absolute;
  left:173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u329_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u330 {
  position:absolute;
  left:1135px;
  top:1078px;
  width:200px;
  height:388px;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:388px;
}
#u331 {
  position:absolute;
  left:2px;
  top:186px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  position:absolute;
  left:1145px;
  top:1088px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u334 {
  position:absolute;
  left:1145px;
  top:1117px;
  width:53px;
  height:16px;
  color:#0066FF;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u336 {
  position:absolute;
  left:1199px;
  top:1114px;
  width:61px;
  height:23px;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u337 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:1145px;
  top:1158px;
  width:92px;
  height:16px;
  color:#949494;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u340 {
  position:absolute;
  left:1247px;
  top:1158px;
  width:22px;
  height:16px;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u342 {
  position:absolute;
  left:1145px;
  top:1187px;
  width:53px;
  height:16px;
  color:#949494;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u344 {
  position:absolute;
  left:1199px;
  top:1187px;
  width:86px;
  height:16px;
  color:#FF0000;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u345 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u346 {
  position:absolute;
  left:1285px;
  top:1187px;
  width:30px;
  height:16px;
  color:#000000;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:1293px;
  top:1158px;
  width:27px;
  height:16px;
  color:#0066FF;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u350 {
  position:absolute;
  left:1143px;
  top:1208px;
  width:178px;
  height:10px;
}
#u350_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u350_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u350_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u351 {
  position:absolute;
  left:1147px;
  top:1345px;
  width:84px;
  height:16px;
  color:#0066FF;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u353 {
  position:absolute;
  left:1231px;
  top:1342px;
  width:61px;
  height:23px;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u354 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355 {
  position:absolute;
  left:1147px;
  top:1386px;
  width:92px;
  height:16px;
  color:#949494;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u356 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u357 {
  position:absolute;
  left:1249px;
  top:1386px;
  width:22px;
  height:16px;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u358 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u359 {
  position:absolute;
  left:1147px;
  top:1415px;
  width:53px;
  height:16px;
  color:#949494;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u361 {
  position:absolute;
  left:1201px;
  top:1415px;
  width:86px;
  height:16px;
  color:#FF0000;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u363 {
  position:absolute;
  left:1287px;
  top:1415px;
  width:30px;
  height:16px;
  color:#000000;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u364 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u365 {
  position:absolute;
  left:1295px;
  top:1386px;
  width:27px;
  height:16px;
  color:#0066FF;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u367 {
  position:absolute;
  left:1145px;
  top:1436px;
  width:178px;
  height:10px;
}
#u367_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u367_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u367_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
#u368 {
  position:absolute;
  left:1147px;
  top:1227px;
  width:70px;
  height:16px;
  color:#0066FF;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:1217px;
  top:1224px;
  width:61px;
  height:23px;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u371 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  position:absolute;
  left:1147px;
  top:1268px;
  width:92px;
  height:16px;
  color:#949494;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u374 {
  position:absolute;
  left:1247px;
  top:1268px;
  width:22px;
  height:16px;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u376 {
  position:absolute;
  left:1147px;
  top:1297px;
  width:53px;
  height:16px;
  color:#949494;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u377 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u378 {
  position:absolute;
  left:1201px;
  top:1297px;
  width:86px;
  height:16px;
  color:#FF0000;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u380 {
  position:absolute;
  left:1287px;
  top:1297px;
  width:30px;
  height:16px;
  color:#000000;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u382 {
  position:absolute;
  left:1295px;
  top:1268px;
  width:27px;
  height:16px;
  color:#0066FF;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u384 {
  position:absolute;
  left:1143px;
  top:1318px;
  width:178px;
  height:10px;
}
#u384_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u384_end {
  position:absolute;
  left:161px;
  top:-5px;
  width:18px;
  height:20px;
}
#u384_line {
  position:absolute;
  left:0px;
  top:5px;
  width:178px;
  height:1px;
}
