body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:10px;
  width:420px;
  height:23px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:23px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:33px;
  width:420px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:343px;
  top:57px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:536px;
  top:46px;
  width:47px;
  height:46px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:46px;
}
#u8 {
  position:absolute;
  left:2px;
  top:15px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:180px;
  top:95px;
  width:420px;
  height:655px;
  overflow:hidden;
  touch-action:none;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:655px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:-60px;
  width:420px;
  height:2070px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:2070px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:64px;
  width:420px;
  height:246px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:246px;
}
#u12 {
  position:absolute;
  left:2px;
  top:115px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
  color:#6B6B6B;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:416px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:95px;
  top:113px;
  width:230px;
  height:67px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:67px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:152px;
  top:179px;
  width:112px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:304px;
  top:-100px;
  width:200px;
  height:40px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:201px;
  top:51px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
