body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3389px;
  height:1864px;
}
#u322 {
  position:absolute;
  left:0px;
  top:0px;
  width:3389px;
  height:1864px;
}
#u323 {
  position:absolute;
  left:2px;
  top:924px;
  width:3385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:89px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u324 {
  position:absolute;
  left:21px;
  top:15px;
  width:300px;
  height:89px;
}
#u325 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:89px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u326 {
  position:absolute;
  left:3059px;
  top:15px;
  width:300px;
  height:89px;
}
#u327 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
