body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1300px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:1301px;
}
#u1 {
  position:absolute;
  left:2px;
  top:642px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:10px;
  width:1000px;
  height:1292px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:1293px;
}
#u3 {
  position:absolute;
  left:2px;
  top:638px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:31px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:103px;
  top:5px;
  width:297px;
  height:19px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:617px;
  top:5px;
  width:67px;
  height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:693px;
  top:5px;
  width:67px;
  height:19px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1033px;
  top:5px;
  width:47px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:960px;
  top:5px;
  width:57px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:783px;
  top:5px;
  width:167px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1077px;
  top:7px;
  width:13px;
  height:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:101px;
  top:30px;
  width:302px;
  height:85px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:85px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:858px;
  width:1201px;
  height:452px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:452px;
}
#u23 {
  position:absolute;
  left:2px;
  top:218px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:103px;
  top:119px;
  width:224px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:220px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:327px;
  top:119px;
  width:201px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#5E5E5E;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:197px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:713px;
  top:119px;
  width:193px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:528px;
  top:119px;
  width:185px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:181px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:907px;
  top:119px;
  width:193px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:103px;
  top:201px;
  width:150px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:318px;
  top:201px;
  width:230px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:613px;
  top:201px;
  width:230px;
  height:19px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:130px;
  top:250px;
  width:940px;
  height:300px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:301px;
}
#u41 {
  position:absolute;
  left:2px;
  top:142px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:407px;
  top:300px;
  width:653px;
  height:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:49px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:295px;
  top:303px;
  width:90px;
  height:70px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:71px;
}
#u45 {
  position:absolute;
  left:2px;
  top:27px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:410px;
  top:358px;
  width:540px;
  height:19px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:412px;
  top:465px;
  width:370px;
  height:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:20px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:411px;
  top:385px;
  width:540px;
  height:19px;
  color:#868686;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:411px;
  top:414px;
  width:540px;
  height:19px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
