body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:10px;
  width:420px;
  height:23px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:23px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:33px;
  width:420px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:201px;
  top:51px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:351px;
  top:59px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:180px;
  top:97px;
  width:420px;
  height:656px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:656px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:-60px;
  width:420px;
  height:1100px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:1100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:31px;
  top:130px;
  width:347px;
  height:327px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:327px;
}
#u11 {
  position:absolute;
  left:2px;
  top:156px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:150px;
  top:89px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:416px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:180px;
  top:-100px;
  width:200px;
  height:40px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:180px;
  top:700px;
  width:420px;
  height:53px;
  font-size:18px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:53px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:201px;
  top:51px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:42px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:536px;
  top:46px;
  width:47px;
  height:46px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:46px;
}
#u23 {
  position:absolute;
  left:2px;
  top:15px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
