body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u0 {
  position:absolute;
  left:98px;
  top:91px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2 {
  position:absolute;
  left:384px;
  top:123px;
  width:20px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:72px;
}
#u4 {
  position:absolute;
  left:228px;
  top:155px;
  width:60px;
  height:72px;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6 {
  position:absolute;
  left:240px;
  top:172px;
  width:35px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
}
#u8 {
  position:absolute;
  left:244px;
  top:212px;
  width:29px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:61px;
}
#u10 {
  position:absolute;
  left:326px;
  top:166px;
  width:92px;
  height:61px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12 {
  position:absolute;
  left:349px;
  top:174px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u14 {
  position:absolute;
  left:347px;
  top:211px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:53px;
}
#u16p000 {
  position:absolute;
  left:-17px;
  top:15px;
  width:36px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u16p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:56px;
  height:23px;
}
#u16p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u16p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u16p002 {
  position:absolute;
  left:-10px;
  top:20px;
  width:22px;
  height:22px;
}
#u16p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u16.compound {
  width:0px;
  height:0px;
}
#u16 {
  position:absolute;
  left:423px;
  top:118px;
  width:2px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
}
#u18 {
  position:absolute;
  left:444px;
  top:112px;
  width:149px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
}
#u20 {
  position:absolute;
  left:444px;
  top:136px;
  width:149px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:113px;
}
#u22p000 {
  position:absolute;
  left:-47px;
  top:45px;
  width:96px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u22p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:116px;
  height:23px;
}
#u22p001 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
}
#u22p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22p002 {
  position:absolute;
  left:-10px;
  top:81px;
  width:22px;
  height:22px;
}
#u22p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u22.compound {
  width:0px;
  height:0px;
}
#u22 {
  position:absolute;
  left:423px;
  top:149px;
  width:2px;
  height:93px;
}
#u23 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:23px;
}
#u24 {
  position:absolute;
  left:444px;
  top:183px;
  width:355px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:172px;
}
#u26p000 {
  position:absolute;
  left:-76px;
  top:75px;
  width:154px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u26p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:174px;
  height:22px;
}
#u26p001 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u26p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u26p002 {
  position:absolute;
  left:-10px;
  top:139px;
  width:22px;
  height:22px;
}
#u26p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u26.compound {
  width:0px;
  height:0px;
}
#u26 {
  position:absolute;
  left:423px;
  top:240px;
  width:2px;
  height:152px;
}
#u27 {
  position:absolute;
  left:2px;
  top:68px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:23px;
}
#u28 {
  position:absolute;
  left:444px;
  top:268px;
  width:293px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u30 {
  position:absolute;
  left:444px;
  top:307px;
  width:178px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:23px;
}
#u32 {
  position:absolute;
  left:443px;
  top:342px;
  width:178px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:96px;
}
#u34p000 {
  position:absolute;
  left:-38px;
  top:37px;
  width:78px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:98px;
  height:22px;
}
#u34p001 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
}
#u34p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u34p002 {
  position:absolute;
  left:-10px;
  top:64px;
  width:22px;
  height:22px;
}
#u34p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u34.compound {
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:423px;
  top:401px;
  width:2px;
  height:76px;
}
#u35 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
}
#u36 {
  position:absolute;
  left:444px;
  top:422px;
  width:149px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:143px;
}
#u38p000 {
  position:absolute;
  left:-62px;
  top:60px;
  width:126px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u38p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:146px;
  height:23px;
}
#u38p001 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
}
#u38p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u38p002 {
  position:absolute;
  left:-10px;
  top:111px;
  width:22px;
  height:22px;
}
#u38p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u38.compound {
  width:0px;
  height:0px;
}
#u38 {
  position:absolute;
  left:423px;
  top:487px;
  width:2px;
  height:123px;
}
#u39 {
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:23px;
}
#u40 {
  position:absolute;
  left:444px;
  top:537px;
  width:480px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:71px;
}
#u42p000 {
  position:absolute;
  left:-26px;
  top:24px;
  width:54px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u42p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:74px;
  height:23px;
}
#u42p001 {
  position:absolute;
  left:-10px;
  top:-11px;
  width:22px;
  height:22px;
}
#u42p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u42p002 {
  position:absolute;
  left:-10px;
  top:39px;
  width:22px;
  height:22px;
}
#u42p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:42px;
}
#u42.compound {
  width:0px;
  height:0px;
}
#u42 {
  position:absolute;
  left:423px;
  top:608px;
  width:2px;
  height:51px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
}
#u44 {
  position:absolute;
  left:444px;
  top:622px;
  width:107px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
}
#u46 {
  position:absolute;
  left:444px;
  top:570px;
  width:149px;
  height:23px;
  font-size:20px;
  color:#0000FF;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
